@model NSIE.Models.TramiteProyectoEstrategico

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using NSIE.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
    ViewData["IdUsuario"] = perfilUsuario.IdUsuario;
}

@{
    ViewData["Title"] = "Editar Trámite";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="~/img/dashboard.png" alt="Icono personalizado" class="iconomenu" />@ViewData["Title"]
    </h3>
</div>
<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("MenuPE", "ProyEstrategicos" )">Menú de Proyectos Estratégicos</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ProyectosEstrategicos", "ProyEstrategicos" )">Lista de Proyectos Estratégicos</a></li>
            @* <li class="breadcrumb-item"><a href="@Url.Action("Detalle", "ProyEstrategicos" )">Detalle Proyecto</a></li> *@
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="container ps-5 pe-5">
    <div class="text-left pb-3">
        <h6 class="subtitulo pb-3">
            <img src="~/img/buscar.png" alt="Icono personalizado" class="iconomenu"> @Model.NombreProyecto
        </h6>
    </div>
    <br>
    <h4 class="pb-3">Detalles del Trámite :  @Model.Tramite</h4>

    <form asp-action="EditarTramite" method="post">
        <input type="hidden" asp-for="IDTramite" />
        <input type="hidden" asp-for="IDProyecto" />
        <div asp-validation-summary="ModelOnly" class="text-danger validation-summary-errors"></div>
       
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="RazonSocial" class="control-label"></label>
                    <input asp-for="RazonSocial" class="form-control" readonly />
                    <span asp-validation-for="RazonSocial" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ubicación" class="control-label"></label>
                    <input asp-for="Ubicación" class="form-control" readonly />
                    <span asp-validation-for="Ubicación" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tramite" class="control-label"></label>
                    <input asp-for="Tramite" class="form-control" readonly />
                    <span asp-validation-for="Tramite" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Municipio" class="control-label"></label>
                    <input asp-for="Municipio" class="form-control" readonly />
                    <span asp-validation-for="Municipio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaIngreso" class="control-label"></label>
                    <input asp-for="FechaIngreso" class="form-control" type="date" readonly />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumeroFolio" class="control-label"></label>
                    <input asp-for="NumeroFolio" class="form-control" readonly />
                    <span asp-validation-for="NumeroFolio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaRevisionJuridica" class="control-label"></label>
                    <input asp-for="FechaRevisionJuridica" class="form-control" type="date" readonly />
                    <span asp-validation-for="FechaRevisionJuridica" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ComentariosRevisionJuridica" class="control-label"></label>
                    <textarea asp-for="ComentariosRevisionJuridica" class="form-control"></textarea>
                    <span asp-validation-for="ComentariosRevisionJuridica" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaSesionEstimado" class="control-label"></label>
                    <input asp-for="FechaSesionEstimado" class="form-control" />
                    <span asp-validation-for="FechaSesionEstimado" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ComentarioTramite" class="control-label"></label>
                    <textarea asp-for="ComentarioTramite" class="form-control" readonly></textarea>
                    <span asp-validation-for="ComentarioTramite" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Responsables" class="control-label"></label>
                    <input asp-for="Responsables" class="form-control" />
                    <span asp-validation-for="Responsables" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <h5 class="pt-3">Seleccione el Avance del Trámite</h5>
                    <hr>
                    <div class="form-check">
                        <input type="checkbox" asp-for="TramiteIngresado" class="form-check-input" />
                        <label class="form-check-label" asp-for="TramiteIngresado">Trámite Ingresado</label>
                    </div>
                    <span asp-validation-for="TramiteIngresado" class="text-danger"></span>

                    <div class="form-check">
                        <input type="checkbox" asp-for="AnalisisEvaluacion" class="form-check-input" />
                        <label class="form-check-label" asp-for="AnalisisEvaluacion">Análisis y Evaluación</label>
                    </div>
                    <span asp-validation-for="AnalisisEvaluacion" class="text-danger"></span>

                    <div class="form-check">
                        <input type="checkbox" asp-for="AutorizadoParaPleno" class="form-check-input" />
                        <label class="form-check-label" asp-for="AutorizadoParaPleno">Autorizado para Pleno</label>
                    </div>
                    <span asp-validation-for="AutorizadoParaPleno" class="text-danger"></span>

                    <div class="form-check">
                        <input type="checkbox" asp-for="PermisoOtorgado" class="form-check-input" />
                        <label class="form-check-label" asp-for="PermisoOtorgado">Permiso Otorgado</label>
                    </div>
                    <span asp-validation-for="PermisoOtorgado" class="text-danger"></span>
                </div>
                <div class="form-group pb-3">
                    <label asp-for="Estatus">Estatus</label>
                    <select asp-for="Estatus" class="form-control">
                        <option value="En Tramite">En Tramite</option>
                        <option value="Suspendido">Suspendido</option>
                        <option value="Terminado">Terminado</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
                
            </div>
        </div>
    </form>

<div class="container ps-5 pe-5 pt-3">
    <h4 class="pb-3">% de Avance del Trámite: @Model.Tramite</h4>
    <div id="avance-proyecto-container">
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="text-center mt-2">
            <span id="progress-value">0%</span>
        </div>
    </div>
</div>

    <br>
    <h4 class="pb-3">Comentarios</h4>

    <div class="table-responsive pt-6">
        <table id="Comentarios" class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Comentario</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comentario in Model.Comentarios)
                {
                    <tr>
                        <td>@comentario.FechaComentario.ToString("yyyy-MM-dd")</td>
                        <td>@comentario.ComentarioNuevo</td>
                        <td>@comentario.NombreUsuario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <form asp-action="AgregarComentario" method="post" class="mt-3">
        <input type="hidden" name="IDTramite" value="@Model.IDTramite" />
        <input type="hidden" name="IDUsuario" value="@perfilUsuario.IdUsuario" />
        <input type="hidden" name="NombreUsuario" value="@perfilUsuario.Nombre" />
        <div class="form-group pb-3">
            <label for="ComentarioNuevo">Nuevo Comentario</label>
            <textarea name="ComentarioNuevo" class="form-control" placeholder="Agregar comentario..."></textarea>
            <span asp-validation-for="ComentarioNuevo" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Comentario</button>
    </form>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $('#Comentarios').DataTable({
                lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "Todos"]],
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'EnergeoCRE-Proyectos Estratégicos'
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'EnergeoCRE-Proyectos Estratégicos'
                    },
                    {
                        extend: 'csvHtml5',
                        title: 'EnergeoCRE-Proyectos Estratégicos'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'EnergeoCRE-Proyectos Estratégicos',
                        customize: function (doc) {
                            doc.styles.tableHeader.color = '#9fa1a4';
                            doc.defaultStyle.alignment = 'center';
                            doc.styles.tableHeader.fillColor = '#4c1922';
                        }
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var avance = @Model.CalcularAvance();
            var progressBar = document.getElementById('progress-bar');
            var progressValue = document.getElementById('progress-value');

            progressBar.style.width = `${avance}%`;
            progressValue.innerText = `${avance}%`;

            if (avance <= 20) {
                progressBar.classList.add('bg-danger');
            } else if (avance <= 50) {
                progressBar.classList.add('bg-warning');
            } else if (avance <= 85) {
                progressBar.classList.add('bg-info');
            } else {
                progressBar.classList.add('bg-success');
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            // Lógica para habilitar/deshabilitar checkboxes
            function actualizarCheckboxes() {
                const tramiteIngresado = document.getElementById("TramiteIngresado");
                const analisisEvaluacion = document.getElementById("AnalisisEvaluacion");
                const autorizadoParaPleno = document.getElementById("AutorizadoParaPleno");
                const permisoOtorgado = document.getElementById("PermisoOtorgado");

                if (tramiteIngresado.checked) {
                    analisisEvaluacion.disabled = false;
                } else {
                    analisisEvaluacion.disabled = true;
                    analisisEvaluacion.checked = false;
                }

                if (analisisEvaluacion.checked) {
                    autorizadoParaPleno.disabled = false;
                } else {
                    autorizadoParaPleno.disabled = true;
                    autorizadoParaPleno.checked = false;
                }

                if (autorizadoParaPleno.checked) {
                    permisoOtorgado.disabled = false;
                } else {
                    permisoOtorgado.disabled = true;
                    permisoOtorgado.checked = false;
                }
            }

            document.getElementById("TramiteIngresado").addEventListener('change', actualizarCheckboxes);
            document.getElementById("AnalisisEvaluacion").addEventListener('change', actualizarCheckboxes);
            document.getElementById("AutorizadoParaPleno").addEventListener('change', actualizarCheckboxes);
            document.getElementById("PermisoOtorgado").addEventListener('change', actualizarCheckboxes);

            // Inicializar el estado de los checkboxes
            actualizarCheckboxes();
        });
    </script>
}