<div style="overflow-x:auto;">
    
    <div class="map-container" >

        <div class="diagram">


            <div class="column">
                <h2><strong><em>N</em></strong></h2>
                <h2><strong>FEP</strong></h2>
                <h3> Suministro Local</h3>
                <h5>
                  @*  <a href="@Url.Action("Cenagas", "Hidrocarburos")" style="display: inline;" title="Ver Importaciones de Gas Natural">*@
                        <a href="@Url.Action("EnConstrucción", "Home")" style="display: inline;" title="Ver Importaciones de Gas Natural">
                        <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Ver Importaciones de Gas Natural" class="iconoflecha">
                    </a>
                   @* <a href="@Url.Action("Exportaciones", "Hidrocarburos")" style="display: inline;" title="Ver Exportaciones de Gas Natural y Petróleo">*@
                    <a href="@Url.Action("EnConstrucción", "Home")" style="display: inline;" title="Ver Exportaciones de Gas Natural y Petróleo">
                        <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Ver Exportaciones de Gas Natural y Petróleo" class="iconoflecha">
                    </a>
                </h5>


                <div class="groupgris" style="margin-top: -22px">
                    <h5>Recursos de Energía Fósil</h5>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Reservas de Petróleo" asp-area="" asp-controller="Map" asp-action="Reserva_de_Crudo">
                        <img src="@Cdn.Url/img_snier/vistas/petroleoi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>R. Petróleo</span>
                    </a>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Reservas de Gas Natural" asp-area="" asp-controller="Map" asp-action="Gas_Natural">
                        <img src="@Cdn.Url/img_snier/vistas/gasnaturali.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> R. Gas Natural</span>
                    </a>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Reservas de Carbón" asp-area="" asp-controller="Map" asp-action="Carbon">
                        <img src="@Cdn.Url/img_snier/vistas/carboni.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> R. Carbón</span>
                    </a>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Reservas de Condensados" asp-area="" asp-controller="Map" asp-action="Reserva_de_Crudo">
                        <img src="@Cdn.Url/img_snier/vistas/condensadosi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Condensados</span>
                    </a>
                </div>
                <p></p>
                <div class="groupuranio" id="uranio" style="margin-top: 5px">

                    <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Recursos de Uranio" asp-area="" asp-controller="Map" asp-action="Reserva_de_Uranio">
                        <img src="@Cdn.Url/img_snier/vistas/uranioi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Uranio</span>
                    </a>

                </div>
                <p></p>
                <div class="groupverde">
                    <h5 >Recursos de Energía Renovable</h5>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Mapa de Yacimientos Geotérmicos" asp-area="" asp-controller="Map" asp-action="Yacimientos_Geotermicos">
                        <img src="@Cdn.Url/img_snier/vistas/geotermiai.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Yac. Geotérmicos</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Mapa de Agua" asp-area="" asp-controller="Map" asp-action="Reserva_de_Agua">
                        <img src="@Cdn.Url/img_snier/vistas/aguai.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Agua</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Mapa de Viento" asp-area="" asp-controller="Map" asp-action="Velocidad_de_Viento">
                        <img src="@Cdn.Url/img_snier/vistas/vientoi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Viento</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Mapa de Radiación Solar" asp-area="" asp-controller="Map" asp-action="Radiacion_Solar">
                        <img src="@Cdn.Url/img_snier/vistas/soli.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Solar</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Estadísticos de Producción de Biomasa" asp-area="" asp-controller="Map" asp-action="Biomasa">
                        <img src="@Cdn.Url/img_snier/vistas/biomasai.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> E.P. Biomasa</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Estadísticos de Producción de Biogás" asp-area="" asp-controller="Home" asp-action="EnConstrucción">
                        <img src="@Cdn.Url/img_snier/vistas/biogasi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> E.P. Biogás</span>
                    </a>
                </div>
                <h5 class="pt-3">Suministro Natural</h5>
                <h5 class="pt-3">FEP: Fuentes de Energía Primaria Natural</h5>
            </div>

            <div class="column">
                <h2><strong><em>Nivel Focal</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Sector Energético</h3>

                <div class="groupgris2" style="margin-top:100px">
                    <img src="@Cdn.Url/img_snier/vistas/refineria.png" alt="Icono personalizado" class="iconoimg">
                    <a class="btn btn-d-sectores" title="Click para Ver Mapa del Sector Petróleo y Gas" asp-area="" asp-controller="Home" asp-action="Hidrocarburos">

                        <span>SECTOR PETRÓLEO Y GAS</span>
                    </a>
                    <div>
                        <img src="@Cdn.Url/img_snier/vistas/pemex.png" alt="Icono personalizado" class="iconoimg2">
                        <img src="@Cdn.Url/img_snier/vistas/privados.png" alt="Icono personalizado" class="iconoimg2">
                    </div>
                    <br>

                    <img src="@Cdn.Url/img_snier/vistas/energia_limpia.png" alt="Icono personalizado" class="iconoimg">
                    <a class="btn btn-d-sectores" title="Click para Ver Mapa del Sector Eléctrico" id="SE" href="/Home/Electricidad">

                        <span>SECTOR ELÉCTRICO</span>
                    </a>
                    <div class="row">
                        <div class="col-md-3">

                            <img src="@Cdn.Url/img_snier/vistas/cfei.png" alt="Icono personalizado" class="iconoimg2">
                            <img src="@Cdn.Url/img_snier/vistas/casas.png" alt="Icono personalizado" class="iconoimg2">
                        </div>
                        <div class="col-md-9">
                            <ul>
                                <li>CFE</li>
                                <li>Producción<br>Independiente</li>
                                <li>Generadores</li>
                                <li>Autoabasto</li>
                            </ul>

                        </div>
                    </div>

                </div>




            </div>

            <div class="column">
                <h2><strong><em>Nivel_1</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Provisión</h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                 <a class="btn btn-d-azul" title="Click para Ver Valores de Producción y Provisión Históricos de Calor" id="SE" href="/Map/PYP_Combustible">

                    Combustible
                </a>
                <br class="pt-5">
                <br>
                <br>
                <br>
                <br>
                <br>
           
                <a class="btn btn-d-azul" title="Click para Ver Valores de Producción y Provisión Históricos de Calor" id="SE" href="/Map/PYP_Calor">
                  Calor
                </a>
                <br class="pt-5">
                <br>
                <br>
                <br>
                <br>
                <br>
                
                 <a class="btn btn-d-azul" title="Click para Ver Valores de Producción y Provisión Históricos de Calor" id="SE" href="/Map/PYP_Electricidad">
                    Electricidad
                </a>
                <h5 class="pt-3">ES: Energía Secundaria</h5>
            </div>

            <div class="column">
                <h2><strong><em>Nivel_2</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Transformaciones</h3>
                <br>
                <br>
                <br>
                <br>
                @* <br> *@

                <h5 style="padding-top:0px">
                    &nbsp;
                    <img src="@Cdn.Url/img_snier/vistas/sectorpeti.png" alt="Icono personalizado" class="iconoco2e">


                    <a href="@Url.Action("Hidrocarburos_CO2e", "Map")" style="float:right; margin-top:0px"  title="Ver Emisiones de CO2e Sector Eléctrico por Año">
                       <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Ver Emisiones de CO2e Sector Hidrocarburos por Año" class="iconoco2e" style="float:right;">
                    </a>
                    @* <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoco2e"> *@
                </h5>
                <div class="group2" style="margin-top: -12px;">
                    @*<a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Mapa de Refinerías y Despuntadoras" asp-area="" asp-controller="Map" asp-action="I_Refinerias">*@
                    <a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Datos de Refinerías y Despuntadoras" asp-area="" asp-controller="Map" asp-action="RS_RefyDes">
                        <img src="@Cdn.Url/img_snier/vistas/tabla.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span> Refinerías y Despuntadoras</span>
                    </a>
                  @*  <a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Mapa de Complejos de Gas" asp-area="" asp-controller="Map" asp-action="I_Complejos">*@
                    <a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Datos de Complejos de Gas" asp-area="" asp-controller="Map" asp-action="RS_CG">
                        <img src="@Cdn.Url/img_snier/vistas/tabla.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Complejos de Gas</span>
                    </a>
                          <a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Datos de Autoconsumo" asp-area="" asp-controller="Map" asp-action="RS_Autoconsumo">
                        <img src="@Cdn.Url/img_snier/vistas/tabla.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Autoconsumo</span>
                    </a>
                </div>
                <h5>
                    <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: -14px; float:left">

                </h5>


                <h5>
                    &nbsp;
                    &nbsp;
                    <a href="@Url.Action("Electricidad_CO2e", "Map")" style="float:right; margin-top:0px"  title="Ver Emisiones de CO2e Sector Eléctrico por Año">
                       <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Ver Emisiones de CO2e Sector Eléctrico por Año" class="iconoco2e" style="float:right;">
                    </a>
                    @* <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoco2e" style="float:right;"> *@
                </h5>
                <div class="groupnaranja" style="margin-top: 30px">
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Turbo Gas y Vapor" asp-area="" asp-controller="Map" asp-action="I_TurboGas">
                 @*    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Turbo gas" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Turbo Gas y Vapor</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Combustión Interna" asp-area="" asp-controller="Map" asp-action="I_CI">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Combustión Interna" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Comb. Int.</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de NGCC" asp-area="" asp-controller="Map" asp-action="I_NGCC">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Ciclo Combinado" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Ciclo Combinado</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Cogeneración" asp-area="" asp-controller="Map" asp-action="I_CHP">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Convencional" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Cogeneración</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Cogeneración Eficiente" asp-area="" asp-controller="Map" asp-action="I_CE">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Convencional" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Cog. Eficiente</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Carboeléctricas" asp-area="" asp-controller="Map" asp-action="I_Carbo">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Carboeléctrica" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Carboeléctrica</span>
                    </a>
                </div>
                <h5>
                    <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: -7px; float:left">


                </h5>

                <div class="group3" style="margin-top:43px">
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Geotérmia" asp-area="" asp-controller="Map" asp-action="I_Yacimientos_Geotermicos">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Geotérmica" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Geotérmica</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Hidroeléctricas" asp-area="" asp-controller="Map" asp-action="I_Hidroelectrica">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Hidroeléctricas" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Hidroeléctrica</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Eólicas" asp-area="" asp-controller="Map" asp-action="I_Eolica">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Eólicas" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Eólica</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Fotovoltaicas" asp-area="" asp-controller="Map" asp-action="I_Radiacion_Solar">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Fotovoltaicas" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <sapn>Solar F.V.</sapn>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Nucleoeléctrica" asp-area="" asp-controller="Map" asp-action="I_Nuclear">
                    @*<a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Nucleoeléctricas" asp-area="" asp-controller="Home" asp-action="EnConstrucción">*@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Nucleoeléctrica</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Biomasa" asp-area="" asp-controller="Map" asp-action="I_Biomasa">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Bioenergía" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Bioenergía</span>
                    </a>
                </div>

            </div>

            <div class="column">
                <h2><strong><em>Nivel_3</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Producción</h3>
                <h5 style="margin-top: 77px;">

                    <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Icono personalizado" class="iconoflecha">

                    <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Icono personalizado" class="iconoflecha">
                </h5>
                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Recursos de Petróleo" asp-area="" asp-controller="Map" asp-action="TE_Petroliferos">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>Petrolíferos</span>
                </a>
                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Recursos de Gas Seco" asp-area="" asp-controller="Map" asp-action="TE_GasSeco">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>Gas Seco</span>
                </a>
                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Recursos de Gas L.P." asp-area="" asp-controller="Map" asp-action="TE_GasLP">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span> Gas L.P.</span>
                </a>


                <br style="margin-top:15px">

                <h5 style="margin-top:80px">
                    <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Icono personalizado" class="iconoflecha">

                    <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Icono personalizado" class="iconoflecha">
                </h5>

                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Carga Pico" asp-area="" asp-controller="Map" asp-action="TE_CargaPico">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>  Carga Pico</span>
                </a>

                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Carga Base" asp-area="" asp-controller="Map" asp-action="TE_CargaBase">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>    Carga Base</span>
                </a>
                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Intermitente" asp-area="" asp-controller="Map" asp-action="TE_Intermitente">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>     Intermitente</span>
                </a>


                <br>
            </div>

            <div class="column">
                <h2><strong><em>Nivel_4</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Distribución</h3>

                <br>
                <br>
                <div class="groupgris" style="margin-top:40px">
                    <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribución de Petrolíferos" href="#">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribución de Petrolíferos" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/camioni.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">

                        <span>  Transporte</span>
                    </a>
                    <img src="@Cdn.Url/img_snier/vistas/abajo.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                    <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribución de Gas Seco" href="#">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribución de Gas Seco" asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/gas_lp.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">

                        <span>  Almacenamiento</span>
                    </a>
                    <img src="@Cdn.Url/img_snier/vistas/abajo.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                     <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribución de Gas L.P." href="#">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribución de Gas L.P." asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        <img src="@Cdn.Url/img_snier/vistas/gas_seco.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">

                        <span>  Distribución</span>
                    </a>
                    <img src="@Cdn.Url/img_snier/vistas/abajo.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                    <br />
                    <img src="@Cdn.Url/img_snier/vistas/gasolineria.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                    <img src="@Cdn.Url/img_snier/vistas/tanque.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                     <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribución de Comercialización y Expendio al Público" href="#">
                    @* <a class="btn-d-gris d-flex align-items-center" style="height:46px" title="Ver Mapa de Distribución de Gas L.P." asp-area="" asp-controller="Home" asp-action="EnConstrucción"> *@
                        
                        <span>  Comercialización y Expendio al Público</span>
                    </a>
                    <br />
                
                </div>
                <h5>
                    <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: -7px; float:left">

                </h5>
                <br>
                <br>
                <br>
                <br>
                
                <div class="groupgris" style="margin-top: -32px">
                    <p class="texto-vertical-right" style="top:613px;font-size:14px;font-weight:bold">RGD</p>

                    <img src="@Cdn.Url/img_snier/vistas/rnt.png" alt="Icono personalizado" class="iconoimg3">
                    <p class="texto-vertical-right" style="top:553px;font-size:14px; font-weight:bold">RNT</p>
                    <br />
                    <img src="@Cdn.Url/img_snier/vistas/rnd.png" alt="Icono personalizado" class="iconoimg3">

                </div>
                <h5>
                    <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: -7px; float:left">

                </h5>
                <br>
            </div>


            <div class="column">
                <h2><strong><em>Nivel_5</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Uso Final</h3>
                <h5 style="padding-top:216px">
                    @* <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoco2e" style="float:right; margin-top:-37px"> *@
                   <a href="@Url.Action("UF_CO2e", "Map")" style="float:right; margin-top:-37px"  title="Ver Emisiones de CO2e">
                        <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Ver Emisiones de CO2e" class="iconoco2e">
                    </a>
                </h5>



                <div class="group_pm">
                    <h5 style="color:var(--rojoclaro)">Perfil Metabólico</h5>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Perfil Metabólico de Hogares" asp-area="" asp-area="" asp-controller="Map" asp-action="TE_Hogares">
                        <img src="@Cdn.Url/img_snier/vistas/hogar.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Hogares</span>
                    </a>

                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Perfil Metabólico de Transporte" asp-area="" asp-area="" asp-controller="Map" asp-action="TE_Transporte">
                        <img src="@Cdn.Url/img_snier/vistas/transporte_pm.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Transporte</span>
                    </a>

                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Perfil Metabólico de Servicio Público y Comercial" asp-area="" asp-controller="Map" asp-action="TE_SPyC">
                        <img src="@Cdn.Url/img_snier/vistas/servicio.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Serv. Púb. y Com.</span>
                    </a>



                    <a class="btn-d-rojo  d-flex align-items-center" title="Ver Mapa de Perfil Metabólico de Servicio Público y Comercial" asp-area="" asp-controller="Map" asp-action="TE_Agricultura">
                        <img src="@Cdn.Url/img_snier/vistas/agricultura.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Agricultura</span>
                    </a>
                    <a class="btn-d-rojo  d-flex align-items-center" title="Ver Mapa de Perfil Metabólico de Industria Energética" asp-area="" asp-controller="Map" asp-action="TE_Industria">
                        <img src="@Cdn.Url/img_snier/vistas/industria.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Industria</span>
                    </a>
                    <a class="btn-d-rojo  d-flex align-items-center" title="Ver Mapa de Perfil Metabólico del Sector Energía" asp-area="" asp-controller="Map" asp-action="TE_SE">
                        <img src="@Cdn.Url/img_snier/vistas/sectore.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Sector Energía</span>
                    </a>

                    <h5>
                        <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: 10px; float:left">

                    </h5>

                </div>


            </div>

        </div>
        <!-- Flecha de conexión -->
        <img src="@Cdn.Url/img_snier/vistas/rr.png" alt="Icono personalizado" class="arrow-image" style="top: 270px; left: 112px;">
        <img src="@Cdn.Url/img_snier/vistas/flecha_curva.png" alt="Icono personalizado" class="arrow-image" style="top: 377px; left: 112px;">
        <p class="float-text" style="right: 119px; top:809px;">Retroalimentación</p>
        <p class="float-text" style="left: 552px;top:371px">Pérdidas</p>
        <img src="@Cdn.Url/img_snier/vistas/flecha_apertura.png" alt="Icono personalizado" class="arrow-image" style="top: 210px; left: 327px;">
        <img src="@Cdn.Url/img_snier/vistas/rr.png" alt="Icono personalizado" class="arrow-image" style="top: 510px; left: 292px;">
        <img src="@Cdn.Url/img_snier/vistas/flecha_apertura_a.png" alt="Icono personalizado" class="arrow-image" style="top: 445px; left: 510px;">
        <p class="texto-vertical-right" style="left: 479px;top:98px">Infraestructura <br /> de Energía Fósil</p>
        <p class="texto-vertical-right" style="left: 479px;top:517px">Infraestructura <br /> de Energía Renovable</p>
        <img src="@Cdn.Url/img_snier/vistas/flecha_cierre_a.png" alt="Icono personalizado" class="arrow-image" style="top: 215px; left: 510px;">
        <img src="@Cdn.Url/img_snier/vistas/flecha_uno_muchos.png" alt="Icono personalizado" class="arrow-image" style="top: 245px; left: 696px;">
        <img src="@Cdn.Url/img_snier/vistas/flecha_uno_muchos.png" alt="Icono personalizado" class="arrow-image" style="top: 545px; left: 696px;">
        <p class="float-text" style="float: left; padding-left: 285px; margin-top: -17px;">(Consumo Directo e Indirecto)</p>
        <img src="@Cdn.Url/img_snier/vistas/flecha_muchos_a_uno.png" alt="Icono personalizado" class="arrow-image" style="top: 250px; left: 877px;">
        <img src="@Cdn.Url/img_snier/vistas/flecha_muchos_a_uno2.png" alt="Icono personalizado" class="arrow-image" style="top: 547px; left: 872px;">
        <img src="@Cdn.Url/img_snier/vistas/union.png" alt="Icono personalizado" class="arrow-image" style="top: 275px; left: 1063px;">
        <p class="texto-vertical-right" style="left: 1074px;top:200px">Disipativas</p>
        <p class="texto-vertical-right" style="left: 1074px;top:296px">Hiperciclo</p>
        <p class="texto-vertical-right" style="left: 1235px;top:218px">Comportamientos</p>
        <img src="@Cdn.Url/img_snier/vistas/retroalimentacion.png" alt="Icono personalizado" class="arrow-image" style="top: 522px; left: 195px;">
        <img src="@Cdn.Url/img_snier/vistas/rr.png" alt="Icono personalizado" class="arrow-image" style="top: 324px;left: 585px;transform: rotate(90deg);">
    </div>
</div>
