
<div style="overflow-x:auto">
<div class="image_map">
	<div >
		<img src="@Cdn.Url/img_snier/vistas/FEP_FINAL.png" alt="Descripción de la imagen" usemap="#enlaces">
		<div class="highlight-box" style="left: 36px; top: 402px; width: 100px; height: 24px;"></div>
	</div>

	<map name="enlaces">
		@*Importaciones y Exportaciones FEP*@
		<area class="area-rect" shape="rect" target="_self" alt="Ver Importaciones de Gas Natural" title="Ver Importaciones de Gas Natural" data-toggle="tooltip" data-placement="top" coords="22,44,61,113" href="@Url.Action("Cenagas", "Hidrocarburos")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Exportaciones de  Gas Natural y Petróleo" title=" Ver Exportaciones de Gas Natural y Petróleo" coords="115,45,151,114" data-toggle="tooltip" data-placement="top" href="@Url.Action("Exportaciones", "Hidrocarburos")">



		<!-- Recursos de Energía Fósil -->
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Reservas de Petróleo" title="Ver Mapa de Reservas de Petróleo" data-toggle="tooltip" data-placement="top" coords="39,155,138,179" href="@Url.Action("Reserva_de_Crudo", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Reservas de Gas Natural" title="Ver Mapa de Reservas de Gas Natural" coords="39,184,138,208" data-toggle="tooltip" data-placement="top" href="@Url.Action("Gas_Natural", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Reservas de Carbón" title="Ver Mapa de Reservas de Carbón" coords="37,212,136,236" href="@Url.Action("EnConstrucción", "Home")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Reservas de Condensados" title="Ver Mapa de Reservas de Condensados" coords="37,241,136,265" href="@Url.Action("Reserva_de_Crudo", "Map")">
@*		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Reservas de Condensados" title="Ver Mapa de Reservas de Condensados" coords="37,241,136,265" href="@Url.Action("Vol_Imp_PetYGN", "Hidrocarburos")">*@


		<!-- Recursos de Energía Renovable -->
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Recursos de Uranio" title="Ver Mapa de Recursos de Uranio" coords="39,286,138,309" href="@Url.Action("Reserva_de_Uranio", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Yacimientos Geotérmicos" title="Ver Mapa de Yacimientos Geotérmicos" coords="34,362,140,398" href="@Url.Action("Yacimientos_Geotermicos", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Agua" title="Ver Mapa de Agua" coords="36,402,136,426" href="@Url.Action("Reserva_de_Agua", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Viento" title="Ver Mapa de Viento" coords="33,428,137,455" href="@Url.Action("Velocidad_de_Viento", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Mapa de Radiación Solar" title="Ver Mapa de Radiación Solar" coords="33,459,138,483" href="@Url.Action("Radiacion_Solar", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Estadísticos de Producción de Biomasa" title="Ver Estadísticos de Producción de Biomasa" coords="31,489,136,513" href="@Url.Action("Biomasa", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Ver Estadísticos de Producción de Biogas" title="Ver Estadísticos de Producción de Biogas" coords="32,517,137,542" href="@Url.Action("EnConstrucción", "Home")">

		<!-- Sectores -->
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa del Sector Petróleo y Gas" title="Click para Ver Mapa del Sector Petróleo y Gas" coords="193,192,329,224" href="@Url.Action("Hidrocarburos", "Home")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa del Sector Eléctrico" title="Click para Ver Mapa del Sector Eléctrico" coords="193,389,329,416" href="@Url.Action("Electricidad", "Home")">

		<!-- Transformaciones -->
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Refinerías y Despuntadoras" title="Click para Ver Mapa de Refinerías y Despuntadoras" coords="547,123,648,155" href="@Url.Action("I_Refinerias", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Complejos de Gas" title="Click para Ver Mapa de Complejos de Gas" coords="548,167,649,189" href="@Url.Action("I_Complejos", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Turbo gas" title="Click para Ver Mapa de Turbo gas" data-toggle="tooltip" coords="548,249,649,271" href="@Url.Action("I_TurboGas", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Combustión Interna" title="Click para Ver Mapa de Combustión Interna" coords="551,280,651,302" href="@Url.Action("I_CI", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de NGCC" title="Click para Ver Mapa de NGCC" coords="551,307,651,329" href="@Url.Action("I_NGCC", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de CHP" title="Click para Ver Mapa de CHP" coords="548,336,649,360" href="@Url.Action("I_CHP", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Carboeléctricas" title="Click para Ver Mapa de Carboeléctricas" coords="550,366,650,388" href="@Url.Action("I_Carbo", "Map")">

		<!-- Infraestructura -->
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Infraestructura Geotermia" title="Click para Ver Mapa de Infraestructura Geotermia" coords="550,429,650,453" href="@Url.Action("I_Yacimientos_Geotermicos", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Infraestructura Hidroeléctricas" title="Click para Ver Mapa de Infraestructura Hidroeléctricas" coords="550,458,650,482" href="@Url.Action("I_Hidroelectrica", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Infraestructura Eólica" title="Click para Ver Mapa Infraestructura Eólica" coords="550,487,650,511" href="@Url.Action("I_Eolica", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Infraestructura Fotovoltaica" title="Click para Ver Mapa de Infraestructura Fotovoltaica" coords="551,516,651,540" href="@Url.Action("I_Radiacion_Solar", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Infraestructura Nuclear" title="Click para Ver Mapa de Infraestructuras Nuclear" coords="552,547,653,571" href="@Url.Action("I_Nuclear", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Infraestructura de Biomasa" title="Click para Ver Mapa de Infraestructuras de Biomasa" coords="551,576,651,600" href="@Url.Action("I_Biomasa", "Map")">

		<!-- Distribucion -->
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Petrolíferos" title="Click para Ver Mapa de Petrolifero" coords="869,96,981,139" href="@Url.Action("I_Petroliferos", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Gas Seco" title="Click para Ver Mapa de Gas Seco" coords="864,144,978,179" href="@Url.Action("I_Gas_Natural", "Map")">
		<area class="area-rect" shape="rect" target="_self" alt="Click para Ver Mapa de Gas LP" title="Click para Ver Mapa de Gas LP" coords="870,187,975,227" href="@Url.Action("I_Gas_LP", "Map")">
		<!-- Agregue más áreas según sea necesario -->
	</map>
</div>

</div>


@section scripts{


@*<script type="text/javascript">
   $(document).ready(function(){
			$('.image_map img').maphilight({
				fillColor: '10312b',
				fillOpacity: 0,
				strokeColor: '#ddc9a3',
				strokeOpacity: 0.9,
				strokeWidth: 3,
				fade: true,
				alwaysOn: false,
				neverOn: false,
				groupBy: false,
				wrapClass: true,
				shadow: true,
				shadowX: 0,
				shadowY: 0,
				shadowRadius: 3,
				shadowColor: '000000',
				shadowOpacity: 0.8,
				shadowPosition: 'outside',
				shadowFrom: false
			});
		
			$('.area-rect').on('click', function(){
				$(this).mouseout();
				$(this).mouseover();
				$(this).mousedown();
				$(this).mouseup();
			});
		});
		
</script>*@
}