<style>

     /* Estilo de la flecha */
  .arrow-line {
    stroke: #526675;
    stroke-width: 2px;
    marker-end: url(#arrowhead);
  }

/* Nueva clase para la línea de conexión */
  .connection-line {
    stroke: #526675;
    stroke-width: 2px;
  }


  @* Texos *@
  .texto-vertical {
  writing-mode: vertical-rl;
  @* text-orientation: upright;
  transform: rotate(0deg); *@
  float:left;
  margin-top: 15px;
  font-weight: bold;
}
.texto-vertical-right {
  writing-mode: vertical-rl;
  top: 50%;
  margin-top: 155px; 
}


  @* Iconos *@
    .iconoflecha {
        width: 65px !important;
        height: auto;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .iconoflecha:hover {
        transform: scale(1.2);
    }

    .iconoboton {
        width: 20px !important;
        height: auto;
    }

    .iconoimg {
        width: 100%;
        height: auto;
    }

    /* Botones  */

@* Naranja *@
  .btn-d-naranja {
        background-color: #db8009 !important;
        color: #ffffff !important;
        width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease;
        border-bottom: 2px solid transparent;
    }

    .btn-d-naranja:hover {
        transform: scale(1.1);
        background-color: #db8009b6 !important;
        color: #dcc8a3 !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        width: 100%;
        border-radius: 8px;
        border-bottom: 2px solid #ff9100;
    }

@* Verde *@
  .btn-d-verde {
        background-color: #3a8813 !important;
        color: #ffffff !important;
        width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease;
        border-bottom: 2px solid transparent;
    }

    .btn-d-verde:hover {
        transform: scale(1.1);
        background-color: #3a881393 !important;
        color: #dcc8a3 !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        width: 100%;
        border-radius: 8px;
        border-bottom: 2px solid #257400;
    }




    .btn-d-rojo {
        background-color: var(--rojo) !important;
        color: #ffffff !important;
        width: 100%;
        border-radius: 8px;

    
        transition: transform 0.3s ease;
        border-bottom: 2px solid transparent;


    }

    .btn-d-rojo:hover {
        background-color: var(--rojoclaro) !important;
       
        
 transform: scale(1.1);
    
        color: #dcc8a3 !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        width: 100%;
        border-radius: 8px;
        border-bottom: 2px solid  var(--rojo);


    }

    .btn-d-azul {
        background-color: #023155 !important;
        color: #ffffff !important;
        width: 100%;
        border-radius: 8px;
        transition: transform 0.3s ease;
        border-bottom: 2px solid transparent;
    }

    .btn-d-azul:hover {
        transform: scale(1.1);
        background-color: #27486182 !important;
        color: #dcc8a3 !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        width: 100%;
        border-radius: 8px;
        border-bottom: 2px solid #274861;
    }

    @* Sectores *@

.btn-d-sectores {
    background-color: #526675 !important;
    color: #ffffff !important;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    border-bottom: 2px solid transparent;
    margin-top: 20px;
}

.btn-d-sectores:hover {
    transform: scale(1.1);
    background-color: #202123 !important;
    color: #dcc8a3 !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    width: 100%;
    border-radius: 8px;
    border-bottom: 2px solid #526675;
}


@* Diagrama *@
    .diagram {
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }

    .column {
        flex: 1;
        text-align: center;
        @* border-left: 1px solid #000; *@
        padding: 10px;
        min-width: 150px;
        max-width: 150px;
        border-radius: 16px;
    }


        .columni {
        flex: 1;
        text-align: center;     
        min-width: 30px;
        max-width: 30px;
       
        
    }


    .column h3, .column h5, .column h2, .column a, .column h4 {
        display: block;
        margin: 8px 0;
        text-decoration: none;
        color: #000;
        font-size: 10px!important;
        
    }


    .column h3{

         font-weight: bolder;
    }


    .group1, .group2, .group3, .groupgris, .groupnaranja, .groupverde {
     
        padding: 10px;
        border-radius: 16px;
        box-shadow: 4px 12px 8px 4px rgba(0, 0, 0, 0.34) !important;
    }

    .group2 {
        background-color: #d0a1bd;
    }

    .group3 {
        background-color: #a8c899;
    }


    .groupgris {
        background-color: #f3f3f3 !important;
    }
    

 
    
    .groupnaranja {
        background-color: #f1c58a;
    }
    
.groupverde{
  background-color:#a8c899;
}

@* Linea retroalimentacion *@

.line {
  position: absolute;
  top: 50%;
  left: calc(50% + 190px); /* Ajusta este valor según tus necesidades */
  width: 5px;
  height: calc(100% - 30px); /* Ajusta este valor según tus necesidades */
  background-color: #526675;
  transform: translateY(-50%);
}

.v-liner{
    border-left: thick solid #526675;
    height: 630px;
       margin-left: 50%;
    
    margin-top: 0px;
}

.v-liner2{
    border-left: thick solid #526675;
    height: 333px;
       margin-left: 49%;
    
    margin-top: -25px;
} 



@* .h-liner{
    border-bottom: thick solid #526675;
   margin-right: -237px;
    width: 937px;
    margin-top: -44px;
} *@

  .h-liner {
position: fixed;
    /* top: 0; */
    left: 384px;
    right: 0;
    border-bottom: thick solid #526675;
    margin-top: 441px;
    width: 1095px;
  }

.map-container {
   /* width: 100vw;*/ /* Utilizar 100% del ancho de la ventana */
    width: 1200px; /* Utilizar 100% del ancho de la ventana */
    height: 700px;
    /* height: 100vh;*/ /* Utilizar 100% de la altura de la ventana */
    overflow: auto; /* Permitir el desplazamiento si el contenido excede las dimensiones del contenedor */
    padding: 20px; /* Ajustar el espacio de relleno según sea necesario */
  }

  .map-container svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%; /* Utilizar 100% del ancho del contenedor */
    height: 100%; /* Utilizar 100% de la altura del contenedor */
  }


</style>

<div  class="map-container">
 
    <div class="diagram">
         <!-- Flecha de conexión -->
   <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
      <polygon fill="#526675" points="0 0, 10 3.5, 0 7" />
    </marker>
  </defs>
  <!-- Flecha 1 -->
  <line class="arrow-line" x1="14%" y1="46.6%" x2="calc(5% + 170px)" y2="55%" marker-end="url(#arrowhead)" />
  <!-- Agrega más líneas para conectar otros grupos o botones -->

  <!-- Línea de conexión -->
  <line class="connection-line" x1="14%" y1="46.6%" x2="50%" y2="50%" />
</svg>
        <div class="column">
            <h2><strong><em>N</em></strong></h2>
            <h3><strong>FEP</strong></h3>
            <h3> Suministro Local</h3>
                <h5>
                <a href="@Url.Action("Cenagas", "Hidrocarburos")" style="display: inline;" title="Ver Importaciones de Gas Natural">
                    <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Ver Importaciones de Gas Natural" class="iconoflecha">
                </a>
                <a href="@Url.Action("Exportaciones", "Hidrocarburos")" style="display: inline;" title="Ver Exportaciones de Gas Natural y Petróleo">
                    <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Ver Exportaciones de Gas Natural y Petróleo" class="iconoflecha">
                </a>
                </h5>


            <div class="groupgris" style="margin-top: -22px">
                <h5>Recursos de Energía Fósil</h5>
                <a class="btn btn-d-azul"  title="Ver Mapa de Reservas de Petróleo" asp-area="" asp-controller="Map" asp-action="Reserva_de_Crudo">
                    <img src="@Cdn.Url/img_snier/vistas/petroleoi.png" alt="Icono personalizado" class="iconoboton">
                    R. Petróleo 1
                </a>
                <a class="btn btn-d-azul" title="Ver Mapa de Reservas de Gas Natural" asp-area="" asp-controller="Map" asp-action="Gas_Natural">
                    <img src="@Cdn.Url/img_snier/vistas/gasnaturali.png" alt="Icono personalizado" class="iconoboton">
                    R. Gas Natural
                </a>
                <a class="btn btn-d-azul" title="Ver Mapa de Reservas de Carbón" asp-area="" asp-controller="Home" asp-action="EnConstrucción">
                    <img src="@Cdn.Url/img_snier/vistas/carboni.png" alt="Icono personalizado" class="iconoboton">
                    R. Carbón
                </a>
                <a class="btn btn-d-azul" title="Ver Mapa de Reservas de Condensados" asp-area="" asp-controller="Map" asp-action="Reserva_de_Crudo">
                    <img src="@Cdn.Url/img_snier/vistas/condensadosi.png" alt="Icono personalizado" class="iconoboton">
                    R. Condensados
                </a>
            </div>
            <br>
            <div class="groupnaranja" id="uranio">
                <a class="btn btn-d-naranja" title="Ver Mapa de Recursos de Uranio" asp-area="" asp-controller="Map" asp-action="Reserva_de_Uranio">
                    <img src="@Cdn.Url/img_snier/vistas/uranioi.png" alt="Icono personalizado" class="iconoboton">
                    Uranio
                </a>
            </div>
            <br>
            <div class="groupverde">
                <h5>Recursos de Energía Renovable</h5>
                <a class="btn btn-d-verde" title="Ver Mapa de Yacimientos Geotérmicos" asp-area="" asp-controller="Map" asp-action="Yacimientos_Geotermicos">
                    <img src="@Cdn.Url/img_snier/vistas/geotermiai.png" alt="Icono personalizado" class="iconoboton">
                    Yacimientos Geotérmicos
                </a>
                <a class="btn btn-d-verde" title="Ver Mapa de Agua" asp-area="" asp-controller="Map" asp-action="Reserva_de_Agua">
                    <img src="@Cdn.Url/img_snier/vistas/aguai.png" alt="Icono personalizado" class="iconoboton">
                    Agua
                </a>
                <a class="btn btn-d-verde" title="Ver Mapa de Viento" asp-area="" asp-controller="Map" asp-action="Velocidad_de_Viento">
                    <img src="@Cdn.Url/img_snier/vistas/vientoi.png" alt="Icono personalizado" class="iconoboton">
                    Viento
                </a>
                <a class="btn btn-d-verde" title="Ver Mapa de Radiación Solar" asp-area="" asp-controller="Map" asp-action="Radiacion_Solar">
                    <img src="@Cdn.Url/img_snier/vistas/soli.png" alt="Icono personalizado" class="iconoboton">
                    Solar
                </a>
                <a class="btn btn-d-verde" title="Ver Estadísticos de Producción de Biomasa" asp-area="" asp-controller="Map" asp-action="Biomasa">
                    <img src="@Cdn.Url/img_snier/vistas/biomasai.png" alt="Icono personalizado" class="iconoboton">
                    E.P. Biomasa
                </a>
                <a class="btn btn-d-verde" title="Ver Estadísticos de Producción de Biogas" asp-area="" asp-controller="Home" asp-action="EnConstrucción">
                    <img src="@Cdn.Url/img_snier/vistas/biogasi.png" alt="Icono personalizado" class="iconoboton">
                    E.P. Biogas
                </a>
            </div>
            <h5>Suministro Natural</h5>
        </div>

        <div class="column">
          <h2><strong><em></em></strong></h2>
            <br>
            <br>
            <h3>Sector Energético</h3>

            <div class="groupgris" style="margin-top:12px">
                <img src="@Cdn.Url/img_snier/vistas/pemex.png" alt="Icono personalizado" class="iconoimg">
                <a class="btn btn-d-sectores" title="Click para Ver Mapa del Sector Petróleo y Gas" asp-area="" asp-controller="Home" asp-action="Hidrocarburos">
                
                    <p>SECTOR PETÓLEO y GAS</p>
                </a>
             
                 <img src="@Cdn.Url/img_snier/vistas/privados.png" alt="Icono personalizado" class="iconoimg">
            </div>
            <br>
            <div class="groupgris">
              
                <img src="@Cdn.Url/img_snier/vistas/electricidadi.png" alt="Icono personalizado" class="iconoimg">
                <a class="btn btn-d-sectores" title="Click para Ver Mapa del Sector Eléctrico" asp-area="" asp-controller="Home" asp-action="Electricidad" id="SE">
                  
                    <p>SECTOR ELÉCTRICO</p>
                </a>
              <p>Producción Independiente</p>
              <p>Generadores</p>
              <p>Autoabasto</p>        
                <img src="@Cdn.Url/img_snier/vistas/cfei.png" alt="Icono personalizado" class="iconoimg">
            </div>
            <i class="bi bi-caret-up-fill" style="color:#526675;font-size:30px"></i>
             <div class="v-liner2">
                
            </div>
        </div>

        <div class="column">
            <h2><strong><em></em></strong></h2>
            <br>
            <br>
            <h3>Provisión y Producción</h3>
            <br>
            <br>
           <a class="btn btn-d-azul" href="pagina1.html" title="Recursos de Petróleo">
                   
                    Combustible
                </a>
            <br>
           <a class="btn btn-d-azul" href="pagina5.html">
                   
                    Calor
                </a>
            <br>
          <a class="btn btn-d-azul" href="pagina6.html">
                    
                    Electricidad
                </a>
                <h5 style="margin-top:20px">ES: Energía Secundaria</h5>
        </div>

        <div class="column">
            <h2><strong><em></em></strong></h2>
            <br>
            <br>
            <h3>Transformaciones</h3>
            <h5>
                <img src="@Cdn.Url/img_snier/vistas/sectorpeti.png" alt="Icono personalizado" class="iconoflecha">
             
                <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoflecha">
            </h5>
            <div class="group2" style="margin-top: -12px;">
             @*   <a class="btn btn-d-rojo" title="Click para Ver Mapa de Refinerías y Despuntadoras" asp-area="" asp-controller="Map" asp-action="I_Refinerias">*@
                    <a class="btn btn-d-rojo" title="Click para Ver Mapa de Refinerías y Despuntadoras" asp-area="" asp-controller="Home" asp-action="EnConstrucción">   
                 <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">

                    Refinerías y Despuntadoras
                </a>
                <a class="btn btn-d-rojo" title="Click para Ver Mapa de Complejos de Gas" asp-area="" asp-controller="Map" asp-action="I_Complejos">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Complejos Gas
                </a>
            </div>
            <h5>
                <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconoflecha" style="margin-top: -7px; float:left">
           
            </h5>
    
            <br>
            <h5>
              &nbsp;
                &nbsp;
                <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoflecha" style="float:right;">
            </h5>
            <div class="groupnaranja" style="margin-top: 45px">
                <a class="btn btn-d-naranja" title="Click para Ver Mapa de Turbo gas" asp-area="" asp-controller="Map" asp-action="I_TurboGas">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Turbo Gas
                </a>
                <a class="btn btn-d-naranja" title="Click para Ver Mapa de Combustión Interna" asp-area="" asp-controller="Map" asp-action="I_CI">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    combustión Interna
                </a>
                <a class="btn btn-d-naranja" title="Click para Ver Mapa de NGCC" asp-area="" asp-controller="Map" asp-action="I_NGCC">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    NGCC
                </a>
                <a class="btn btn-d-naranja" title="Click para Ver Mapa de CHP" asp-area="" asp-controller="Map" asp-action="I_CHP">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    CHP
                </a>
                <a class="btn btn-d-naranja" title="Click para Ver Mapa de Carboeléctricas" asp-area="" asp-controller="Map" asp-action="I_Carbo">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Carboeléctricas
                </a>
            </div>
            <h5>
                 <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconoflecha" style="margin-top: -7px; float:left">
             
                <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Icono personalizado" class="iconoflecha">
            </h5>
           
            <div class="group3" style="margin-top:-23px">
                <a class="btn btn-d-verde" title="Click para Ver Mapa de Carboeléctricas" asp-area="" asp-controller="Map" asp-action="I_Yacimientos_Geotermicos">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Geotérmia
                </a>
                <a class="btn btn-d-verde" title="Click para Ver Mapa de Carboeléctricas" asp-area="" asp-controller="Map" asp-action="I_Hidroelectrica">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Hidroeléctrica
                </a>
                <a class="btn btn-d-verde" title="Click para Ver Mapa de Carboeléctricas" asp-area="" asp-controller="Map" asp-action="I_Eolica">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Eólica
                </a>
                <a class="btn btn-d-verde" title="Click para Ver Mapa de Carboeléctricas" asp-area="" asp-controller="Map" asp-action="I_Radiacion_Solar">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Solar F.V.
                </a>
                <a class="btn btn-d-verde" title="Click para Ver Mapa de Carboeléctricas" asp-area="" asp-controller="Map" asp-action="I_Nuclear">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Nuclear
                </a>
                <a class="btn btn-d-verde" title="Click para Ver Mapa de Carboeléctricas" asp-area="" asp-controller="Map" asp-action="I_Biomasa">
                    <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconoboton">
                    Biomasa
                </a>
            </div>
           
        </div>

        <div class="column">
            <h2><strong><em></em></strong></h2>
            <br>
            <br>
            <h3>Tipos de Energía</h3>
            <h5>
                <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Icono personalizado" class="iconoflecha">
               
                <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Icono personalizado" class="iconoflecha">
            </h5>
         
               
                <a class="btn btn-d-sectores" href="pagina1.html" title="Recursos de Petróleo" style="margin-top:-22px">
                   
                    Petrolíferos
                </a>
                <a class="btn btn-d-sectores" href="pagina2.html">
                   
                    Gas Seco
                </a>
                <a class="btn btn-d-sectores" href="pagina3.html">
                   
                    Gas L.P.
                </a>
           
            <br style="margin-top:15px">
          
                <h5 style="margin-top:222px">
                    <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Icono personalizado" class="iconoflecha">
                 
                    <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Icono personalizado" class="iconoflecha">
                </h5>
                <a class="btn btn-d-sectores" href="pagina5.html" style="margin-top:-22px">
                   
                    Carga Pico
                </a>
                <a class="btn btn-d-sectores" href="pagina5.html">
                    
                    Carga Base
                </a>
                <a class="btn btn-d-sectores" href="pagina5.html">
                    
                    Intermitente
                </a>
          
            <br>
        </div>

        <div class="column">
            <h2><strong><em></em></strong></h2>
            <br>
            <br>
            <h3>Distribución</h3>
            <div class="groupgris" style="margin-top:15px">
                <img src="@Cdn.Url/img_snier/vistas/camioni.png" alt="Icono personalizado" class="iconoflecha">
                <img src="@Cdn.Url/img_snier/vistas/distribuciongasi.png" alt="Icono personalizado" class="iconoflecha">
                <img src="@Cdn.Url/img_snier/vistas/tuberiai.png" alt="Icono personalizado" class="iconoflecha">
                <img src="@Cdn.Url/img_snier/vistas/distribucioni1.png" alt="Icono personalizado" class="iconoflecha">
            </div>
            <h5>
                <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconoflecha" style="margin-top: -7px; float:left">
           
            </h5>
            <br>
            <div class="groupgris" style="margin-top: 20px">
              <p class="texto-vertical">RNT</p>
                <img src="@Cdn.Url/img_snier/vistas/transmisionei.png" alt="Icono personalizado" class="iconoflecha">
                
                <p class="texto-vertical">RND</p>
                <img src="@Cdn.Url/img_snier/vistas/distribucionei.png" alt="Icono personalizado" class="iconoflecha">
                
            </div>
            <h5>
                <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconoflecha" style="margin-top: -7px; float:left">
           
            </h5>
            <br>
        </div>
  
        <div class="columni">
            <p class="texto-vertical-right">Disipativas</p>
            <p class="texto-vertical-right">Hiperciclo</p>
        </div>
  
        <div class="column">
            <h2><strong><em></em></strong></h2>
            <br>
            <br>
            <h3>Uso Final</h3>
            <h5 style="padding-top:50px">           
                <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoflecha" style="float:right; margin-top:-55px">
            </h5>
            
         
          
            <div class="groupgris">
                <h5 style="color:var(--rojo)">Perfil Metabólico</h5>
                <a class="btn btn-d-azul" href="pagina1.html" title="Recursos de Petróleo">
                    <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconoboton">
                    Hogares
                </a>
                 
                <a class="btn btn-d-azul" href="pagina2.html">
                    <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconoboton">
                    Transporte
                </a>
                <a class="btn btn-d-azul" href="pagina3.html">
                    <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconoboton">
                    Servicio Público y Comercial
                </a>
                <a class="btn btn-d-rojo" href="pagina4.html">
                    <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconoboton">
                    Agricultura
                </a>
                 
                <a class="btn btn-d-rojo" href="pagina4.html">
                    <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconoboton">
                    Industria
                </a>
                <a class="btn btn-d-rojo" href="pagina4.html">
                    <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconoboton">
                    Sector Energía
                </a>
                  <h5>
                <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconoflecha" style="margin-top: -7px; float:left">
           
            </h5>
            <h5>Perdidas</h5>
            </div>
           
            <div class="v-liner">
            </div>
       
        </div>
   
    </div>
      <!-- Flecha de conexión -->
  
 
</div>
