@model Mep



<section id="resultados_mun" style="display:none" class="">

    <section id="section1" class="section_i">
        <center>
            <div class="flex-container section-scroll">
                <div class="flex-item">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/Aprobado.png" alt="Icono personalizado" class="iconomenu"></span>
                    <p>Óptimas a Nivel Entidad y Municipio:</p>
                    <input type="text" class="form-control optimo text-center display-6 fw-bold" id="optimo" readonly />
                </div>
                <div class="flex-item">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/viable.png" alt="Icono personalizado" class="iconomenu"></span>
                    <p>Viables a Nivel Entidad y Municipio:</p>
                    <input type="text" class="form-control viable text-center display-6 fw-bold" id="viable" readonly />
                </div>
                <div class="flex-item">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/NoviableMun.png" alt="Icono personalizado" class="iconomenu"></span>
                    <p>No Viables a Nivel Municipal:</p>
                    <input type="text" class="form-control noviablemun text-center display-6 fw-bold" id="factible" readonly />
                </div>
                <div class="flex-item">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/NoAprobado.png" alt="Icono personalizado" class="iconomenu"></span>
                    <p>No Viables a Nivel Entidad Federativa:</p>
                    <input type="text" class="form-control noviable text-center display-6 fw-bold" id="noviablemun" readonly />
                </div>
                <div class="flex-item">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/evaluar.png" alt="Icono personalizado" class="iconomenu"></span>
                    <p>Total de Solicitudes Evaluadas:</p>
                    <input type="text" class="form-control totalm text-center display-6 fw-bold" id="totalmun" readonly />
                </div>
            </div>
        </center>
    </section>
    <br />
    <div id="grafico_mun_1"></div>
    <br />
    <div id="grafico_mun_0"></div>
    <h6 class="display-6 fw-bold subtitulo"><img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado" class="iconomenu">Detalle de la Calificación por Solicitud</h6>
    <partial name="_MapaResultadosMunElectricidadPartial" model="@Model" />
    <br>
    <div class="table-responsive">
        <table id="I_CF_MUN" class="table table-hover table-responsive table-bordered" style="display:none">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Turno</th>
                    <th>Categoría</th>
                    <th>Razón Social</th>
                    <th>Marca Solicitada</th>
                    <th>Expediente</th>
                    <th>eF ID</th>
                    <th>eF Nombre</th>
                    <th>mpO ID</th>
                    <th>Nombre Municipio</th>
                    <th>Análisis Riesgo</th>
                    <th>Documentos Completos</th>
                    <th>X Geo</th>
                    <th>Y Geo</th>
                    <th>Umbral P1</th>
                    <th>Columnas Seleccionadas P1</th>
                    <th>Total Columnas</th>
                    <th>Suma Total</th>
                    <th>Factor</th>
                    <th>Resultado</th>
                    <th>2023_01</th>
                    <th>2023_02</th>
                    <th>2023_03</th>
                    <th>2023_04</th>
                    <th>2023_05</th>
                    <th>2023_06</th>
                    <th>2023_07</th>
                    <th>2023_08</th>
                    <th>2023_09</th>
                    <th>2023_10</th>
                    <th>2023_11</th>
                    <th>2023_12</th>
                    <th>2023_13</th>
                    <th>2023_14</th>
                    @*<th>2023_15</th>*@
                    <th>Umbral Municipio P1</th>
                    <th>Columnas Seleccionadas Municipio P1</th>
                    <th>Total Columnas Municipio</th>
                    <th>Suma Total Municipio</th>
                    <th>Factor Municipio</th>
                    <th>Resultado Municipio</th>
                    <th>2023_01_m</th>
                    <th>2023_03_m</th>
                    <th>2023_05_m</th>
                    <th>2023_12_m</th>
             
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se agregarán aquí desde AJAX -->
            </tbody>
        </table>
    </div>


    <br />
    <center>
        <div class="tab">
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_13_mun','resultados_mun')" data-indicator="13">Ver Calificación</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_1_mun','resultados_mun') " data-indicator="1">Indicador 1</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_2_mun','resultados_mun') " data-indicator="2">Indicador 2</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_3_mun','resultados_mun') " data-indicator="3">Indicador 3</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_4_mun','resultados_mun') " data-indicator="4">Indicador 4</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_5_mun','resultados_mun') " data-indicator="5">Indicador 5</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_6_mun','resultados_mun') " data-indicator="6">Indicador 6</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_7_mun','resultados_mun') " data-indicator="7">Indicador 7</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_8_mun','resultados_mun') " data-indicator="8">Indicador 8</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_9_mun','resultados_mun') " data-indicator="9">Indicador 9</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_10_mun','resultados_mun')" data-indicator="10">Indicador 10</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_11_mun','resultados_mun')" data-indicator="11">Indicador 11</button>
            <button class="tablinks indicator-tab-mun" onclick="openTab(event, 'div_12_mun','resultados_mun')" data-indicator="12">Indicador 12</button>

        </div>
    </center>
    <!-- Contenido del div1 -->
    <div id="div_13_mun" class="tabcontent">


    </div>
    <div id="div_1_mun" class="tabcontent">
        <!-- Contenido del div1 -->

        <section id="section1" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 1 - Atención al Usuario Final</h6>
            <blockquote class="blockquote mt-3">
          @*      <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>

            <div id="mapmun_I1"></div>




            <hr />
        </section>
    </div>
    <div id="div_2_mun" class="tabcontent">
        <!-- Contenido del div2 -->

        <section id="section1" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 2 - Densidad Territorial de Expendios</h6>
            <blockquote class="blockquote mt-3">
              @*  <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>

            <div id="mapmun_I2"></div>
            
           


           
        </section>

    </div>
    <div id="div_3_mun" class="tabcontent">
        <!-- Contenido del div3 -->

        <section id="section3" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 3 - Densidad Territorial de Vehículos</h6>
            <blockquote class="blockquote mt-3">
              @*  <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>


            <div id="mapmun_I3"></div>



        </section>

    </div>
    <div id="div_4_mun" class="tabcontent">
        <!-- Contenido del div4 -->

        <section id="section4" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 4 - Marginación</h6>

            <blockquote class="blockquote mt-3">
             @*   <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>

            <div id="mapmun_I4"></div>

   
        </section>

    </div>
    <div id="div_5_mun" class="tabcontent">
        <!-- Contenido del div5 -->

        <section id="section5" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 5 - Cuota de mercado Petrolíferos</h6>
            <blockquote class="blockquote mt-3">
             @*   <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>
           
            <div id="mapmun_I5"></div>

            <div class="table-responsive">
            </div>

       
        </section>

    </div>
    <div id="div_6_mun" class="tabcontent">
        <!-- Contenido del div6 -->

        <section id="section6" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 6 - Cuota de mercado Gasolinas</h6>
            <blockquote class="blockquote mt-3">
              @*  <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>

           <div id="mapmun_I6"></div>

        </section>

    </div>
    <div id="div_7_mun" class="tabcontent">
        <!-- Contenido del div7 -->

        <section id="section7" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 7 - Tasa de Consumo Exosomático</h6>
            <blockquote class="blockquote mt-3">
              @*  <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>
            <div id="mapmun_I7"></div>

     
        </section>

    </div>
    <div id="div_8_mun" class="tabcontent">
        <!-- Contenido del div8-->

        <section id="section8" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 8 - Impulso al desarrollo del Sureste</h6>
            <blockquote class="blockquote mt-3">
              @*  <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>

                <div id="mapmun_I8"></div>

  
        </section>

    </div>
    <div id="div_9_mun" class="tabcontent">
        <!-- Contenido del div9 -->

        <section id="section9" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 9 - Impulso a la Electromovilidad</h6>
            <blockquote class="blockquote mt-3">
             @*   <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>

            <div id="mapmun_I9"></div>

   
        </section>

    </div>
    <div id="div_10_mun" class="tabcontent">
        <!-- Contenido del div10 -->

        <section id="section10" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 10 - Nearshoring</h6>
            <blockquote class="blockquote mt-3">
              @*  <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>
                            <div id="mapmun_I10"></div>

        </section>


    </div>
    <div id="div_11_mun" class="tabcontent">
        <!-- Contenido del div10 -->

        <section id="section11" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 11 - Nearshoring</h6>
            <blockquote class="blockquote mt-3">
             @*   <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>
                <div id="mapmun_I11"></div>

          
        </section>


    </div>
    <div id="div_12_mun" class="tabcontent">
        <!-- Contenido del div10 -->

        <section id="section12" class="section_i">
            <h6 class="display-6 fw-bold subtitulo">Indicador 12 - Nuevo</h6>
            <blockquote class="blockquote mt-3">
               @* <p>Este indicador mide la relación entre.... .</p>*@
            </blockquote>
                <div id="mapmun_I12"></div>

        </section>

    </div>


</section>





