@model DetalleCalificacion_EF

<section id="resultados" style="display:none" class="">

    <center>
        <div class="tab">
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_13')" data-indicator="13">Ver Calificaci贸n</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_1') " data-indicator="1">Indicador 1</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_2') " data-indicator="2">Indicador 2</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_3') " data-indicator="3">Indicador 3</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_4') " data-indicator="4">Indicador 4</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_5') " data-indicator="5">Indicador 5</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_6') " data-indicator="6">Indicador 6</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_7') " data-indicator="7">Indicador 7</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_8') " data-indicator="8">Indicador 8</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_9') " data-indicator="9">Indicador 9</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_10')" data-indicator="10">Indicador 10</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_11')" data-indicator="11">Indicador 11</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_12')" data-indicator="12">Indicador 12</button>

        </div>
    </center>
 @* Resultados de Corrida a Nivel Municipal *@
    <div id="div_13" class="tabcontent">
        <section id="section1" class="section_i">
            <h6 class="display-6 fw-bold subtitulo"><i class="bi bi-geo-alt-fill"></i>Calificaci贸n Final</h6>
            <br />
                 @*<partial name="_Salida_Totales_Mun" model="@Model" />*@

            <section class="section-scroll">
                <div class="card_t">
                  
                    <h3 id="total_mun"> </h3>
                    <hr />
                    <div>  <span class="icon"><img src="@Cdn.Url/img_snier/vistas/aguila.png" alt="Icono personalizado" class="iconomenu"></span>Total de Municipios Evaluados</div>
                </div>

                <div class="card_t">
                    <h3 id="total_mun_aprobados"><span class="icon"></span></h3>
                    <hr />
                    <div> <span class="icon"><img src="@Cdn.Url/img_snier/vistas/Aprobado.png" alt="Icono personalizado" class="iconomenu"></span> Total de Municipios con Solicitudes Prometedoras</div>
                </div>
                <div class="card_t">
                    <h3 id="total_mun_noaprobados"><span class="icon"></span></h3>
                    <hr />
                    <div>  <span class="icon"><img src="@Cdn.Url/img_snier/vistas/NoAprobado.png alt="Icono personalizado" class="iconomenu"></span>Total de Municipios con Solicitudes No Prometedoras</div>
                </div>

            </section>
            @* <div id="grafico1"></div>*@
            <div id="grafico_mun"></div>




                <div class="section-scroll">
                    <div class="card_t">
                        <h4 class="subtitulo1"> <img src="@Cdn.Url/img_snier/vistas/Aprobado.png" alt="Icono personalizado" class="iconomenu">Prometedoras:</h4>
                        <br />
                        <input type="text" class="form-control btn-cre-verde text-center display-6 fw-bold" id="aprobados" readonly />
                    </div>
                    <div class="card_t">
                        <h4 class="subtitulo1"> <img src="@Cdn.Url/img_snier/vistas/NoAprobado.png" alt="Icono personalizado" class="iconomenu">No Prometedoras:</h4>
                    <br />
                        <input type="text" class="form-control btn-cre-rojo text-center display-6 fw-bold" id="noAprobados" readonly />
                    </div>
                    <div class="card_t">
                        <h4 class="subtitulo1"> <img src="@Cdn.Url/img_snier/vistas/Solicitudes.png" alt="Icono personalizado" class="iconomenu">Total:</h4>
                        <br />
                        <input type="text" class="form-control btn-cre-amarillo text-center display-6 fw-bold" id="total" readonly />
                    </div>
                </div>
@* Tabal de Resultados por Municipio *@
                <h6 class="display-6 fw-bold subtitulo"><i class="bi bi-geo-alt-fill"></i>Detalle por Municipio</h6> 
                <br>           
                <br>
                <div class="table-responsive">
                    <table id="I_CF" class="table table-hover table-responsive table-bordered" style="display:none">
                        <thead>
                            <tr>
                                <th>ID Entidad Federativa</th>
                                <th>Entidad Federativa</th>
                                <th>ID Municipio</th>
                                <th>Nombre Municipio</th>
                                <th>Prometedoras</th>
                                <th>No Prometedoras</th>
                            <th>Indicadores en EF</th>
                            <th>Umbral EF</th>
                       
                                <th>Ver Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos se agregar谩n aqu铆 desde AJAX -->
                        </tbody>
                    </table>
                </div>
@* Seccion Final al terminar la tabla *@
            <div class="container m-3">
                <div class="row ">
                    <div class="col-md-6 p-1">
                        <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores Municipales</a>
                    </div>
                    <div class="col-md-6 p-1">
                        @*<a class="btn btn-cre-rojo" data-toggle="tooltip" data-placement="bottom" title="Informaci贸n P煤blica e Interna de Hidrocarburos a Nivel Nacional " asp-controller="" asp-action="">Ver Detalle y Mapa</a>*@
                        @*Seccion Que muestra los Resultados del Indicador*@
                        <button class="btn btn-cre-rojo" id="btnResultados" onclick="toggleResultado()" style="display: none">Click Aqui -> para realizar otra Evaluaci贸n</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
  
    <div id="div_1" class="tabcontent">
        <!-- Contenido del div1 -->
        <div class="col" id="div1" style="display: none">
            <section id="section1" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 1 - Atenci贸n al Usuario Final</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                <div class="table-responsive">
                @* Aqui va la tabla del indicador municipal *@
                </div>

                <div class="container m-3">
                    <div class="row ">
                        <div class="col-md-6 p-1">

                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>

                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I1"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 1</a>
                        </div>
                    </div>
                </div>


                <hr />
            </section>
        </div>
    </div>
    <div id="div_2" class="tabcontent">
        <!-- Contenido del div2 -->
        <div class="col" id="div2" style="display: none">
            <section id="section2" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 2 - Densidad Territorial de Expendios</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                <div class="table-responsive">
                 @* Aqui va la tabla del indicador municipal *@
                </div>

                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I2"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 2</a>
                        </div>
                    </div>
                </div>


                <hr />
            </section>
        </div>
    </div>
    <div id="div_3" class="tabcontent">
        <!-- Contenido del div3 -->
        <div class="col" id="div3" style="display: none">
            <section id="section3" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 3 - Densidad Territorial de Veh铆culos</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                <div class="table-responsive">
                    @* Aqui va la tabla del indicador municipal *@      
                </div>
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I3"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 3</a>
                        </div>
                    </div>
                </div>
                <hr />
            </section>
        </div>
    </div>
    <div id="div_4" class="tabcontent">
        <!-- Contenido del div4 -->
        <div class="col" id="div4" style="display: none;">
            <section id="section4" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 4 - Marginaci贸n</h6>

                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                       @* Aqui va la tabla del indicador municipal *@
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 4</a>
                        </div>
                    </div>
                </div>


                <hr />
            </section>
        </div>
    </div>
    <div id="div_5" class="tabcontent">
        <!-- Contenido del div5 -->
        <div class="col" id="div5" style="display: none">
            <section id="section5" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 5 - Cuota de mercado Petrol铆feros</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                        @* Aqui va la tabla del indicador municipal *@     
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 5</a>
                        </div>
                    </div>
                </div>

                <hr />
            </section>
        </div>
    </div>
    <div id="div_6" class="tabcontent">
        <!-- Contenido del div6 -->
        <div class="col" id="div6" style="display: none">
            <section id="section6" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 6 - Cuota de mercado Gasolinas</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>              
                @* Aqui va la tabla del indicador municipal *@
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 6</a>
                        </div>
                    </div>
                </div>
                <hr />
            </section>
        </div>
    </div>
    <div id="div_7" class="tabcontent">
        <!-- Contenido del div7 -->
        <div class="col" id="div7" style="display: none;">
            <section id="section7" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 7 - Tasa de Consumo Exosom谩tico</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                         @* Aqui va la tabla del indicador municipal *@
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 7</a>
                        </div>
                    </div>
                </div>
                <hr />
            </section>
        </div>
    </div>
    <div id="div_8" class="tabcontent">
        <!-- Contenido del div8-->
        <div class="col" id="div8" style="display: none">
            <section id="section8" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 8 - Impulso al desarrollo del Sureste</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                       @* Aqui va la tabla del indicador municipal *@   
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 8</a>
                        </div>
                    </div>
                </div>
                <hr />
            </section>

        </div>
    </div>
    <div id="div_9" class="tabcontent">
        <!-- Contenido del div9 -->
        <div class="col" id="div9" style="display: none">
            <section id="section9" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 9 - Impulso a la Electromovilidad</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                          @* Aqui va la tabla del indicador municipal *@
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 9</a>
                        </div>
                    </div>
                </div>

                <hr />
            </section>
        </div>
    </div>
    <div id="div_10" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div10" style="display: none">
            <section id="section10" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 10 - Nearshoring</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>          
                   @* Aqui va la tabla del indicador municipal *@
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 10</a>
                        </div>
                    </div>
                </div>

                <hr />
            </section>

        </div>
    </div>
    <div id="div_11" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div11" style="display: none">
            <section id="section11" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 11 - Nearshoring</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                     @* Aqui va la tabla del indicador municipal *@
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 10</a>
                        </div>
                    </div>
                </div>

                <hr />
            </section>

        </div>
    </div>
    <div id="div_12" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div12" style="display: none">
            <section id="section12" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 12 - Nuevo</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relaci贸n entre.... .</p>
                </blockquote>
                   @* Aqui va la tabla del indicador municipal *@
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 10</a>
                        </div>
                    </div>
                </div>

                <hr />
            </section>

        </div>
    </div>





</section>

<br />

