@model Mep
@{
  
}



<section id="resultados" style="display:none" class="">

 <h6 class="display-6 fw-bold subtitulo">Resultado del Modelo a Nivel Entidad Federativa</h6>
 <br />
    <center>
        <div class="tab">
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_16','resultados')" data-indicator="16">Ver Calificación</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_1','resultados') " data-indicator="1">Indicador 1</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_2','resultados') " data-indicator="2">Indicador 2</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_3','resultados') " data-indicator="3">Indicador 3</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_4','resultados') " data-indicator="4">Indicador 4</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_5','resultados') " data-indicator="5">Indicador 5</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_6','resultados') " data-indicator="6">Indicador 6</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_7','resultados') " data-indicator="7">Indicador 7</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_8','resultados') " data-indicator="8">Indicador 8</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_9','resultados') " data-indicator="9">Indicador 9</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_10','resultados')" data-indicator="10">Indicador 10</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_11','resultados')" data-indicator="11">Indicador 11</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_12','resultados')" data-indicator="12">Indicador 12</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_13','resultados')" data-indicator="13">Indicador 13</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_14','resultados')" data-indicator="14">Indicador 14</button>
          @*  <button class="tablinks indicator-tab" onclick="openTab(event, 'div_15','resultados')" data-indicator="15">Indicador 15</button>*@
        </div>
    </center>
       <!-- Contenido del div1 -->
    <div id="div_16" class="tabcontent">
        <section id="section1" class="section_i">

            <section class="section-scroll">
                <div class="card_t">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/evaluar.png" alt="Icono personalizado" class="iconomenu"></span>
                    <h3 id="nacional_EF"></h3>
                    <p> Entidades Evaluadas</p>
                </div>
                <div class="card_t">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/Aprobado.png" alt="Icono personalizado" class="iconomenu"></span>
                    <h3 id="nacional_aprobados"></h3>
                    <p>Entidades con Solicitudes en Categoría "A" (No Saturadas)</p>
                </div>
                <div class="card_t">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/NoAprobado.png" alt="Icono personalizado" class="iconomenu"></span>
                    <h3 id="nacional_noaprobados"></h3>
                    <p> Entidades con Solicitudes en Categoría "D" (Saturadas)</p>
                </div>
                <div class="card_t" data-card="nacional_ambos_card">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/evaluacionef.png" alt="Icono personalizado" class="iconomenu"></span>
                    <h3 id="nacional_ambos"></h3>
                    <p>  Entidades con Solicitudes en Categorías "A y D"</p>
                </div>
            </section>
            <br />
            <br />
            <div class="fondo_grafico" id="grafico1"></div>
            <div class="fondo_grafico" id="grafico"></div>
            <div class="fondo_grafico" id="graficopermiso"></div>

  
  <center>
    <div class="flex-container">
      <div class="flex-item">
        <span class="icon"><img src="@Cdn.Url/img_snier/vistas/Aprobado.png" alt="Icono personalizado" class="iconomenu"></span>
                        <p>Solicitudes en Categoría "A":</p>
        <input type="text" class="form-control btn-cre-verde text-center display-6 fw-bold" id="aprobados" readonly />
      </div>

      <div class="flex-item">
        <span class="icon"><img src="@Cdn.Url/img_snier/vistas/NoAprobado.png" alt="Icono personalizado" class="iconomenu"></span>
                        <p>Solicitudes en Categoría "D":</p>
        <input type="text" class="form-control btn-cre-rojo text-center display-6 fw-bold" id="noAprobados" readonly />
      </div>

      <div class="flex-item">
        <span class="icon"><img src="@Cdn.Url/img_snier/vistas/evaluar.png" alt="Icono personalizado" class="iconomenu"></span>
                        <p>Total Solicitudes Evaluadas</p>
                        <input type="text" class="form-control totalm text-center display-6 fw-bold" id="total" readonly />
      </div>
    </div>
  </center>


<h6 class="display-6 fw-bold subtitulo">  <span class="icon"><img src="@Cdn.Url/img_snier/vistas/evaluacionef.png" alt="Icono personalizado" class="iconomenu"></span>Evaluación de las Solicitudes por Entidad Federativa</h6> 
<br>           
<br>
              <div class="table-responsive">
                <table id="I_CF" class="table table-hover table-responsive table-bordered" style="display:none">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Entidad Federativa</th>
                            <th>Solicitudes en Categoría "A" (No Saturadas)</th>
                            <th>Solicitudes en Categoría "D" (Saturadas)</th>
                            <th>Ver Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se agregarán aquí desde AJAX -->
                    </tbody>
                </table>
            </div>

        </section>
    </div>
  
    <div id="div_1" class="tabcontent">
        <!-- Contenido del div1 -->
        <div class="col" id="div1" style="display: none">
            <section id="section1" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 1 - Atención al Usuario Final: Consumo per cápita</h6>
                <blockquote class="blockquote mt-3">
                   @* <p>Este indicador mide la relación entre.... .</p>*@
                </blockquote>

              @*  <div id="mapef_I1"></div>*@

                <div class="table-responsive">

                   <table id="I_1" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                           @foreach (var indicador2 in Model.Indicadores.I1)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

                <hr />
            </section>
        </div>
    </div>
    <div id="div_2" class="tabcontent">
        <!-- Contenido del div2 -->
        <div class="col" id="div2" style="display: none">
            <section id="section2" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 2 - Densidad Territorial de Vehículos</h6>
                <blockquote class="blockquote mt-3">
                 @*   <p>Este indicador mide la relación entre.... .</p>*@
                </blockquote>
              @*    <div id="mapef_I2"></div>*@
                <div class="table-responsive">

                    <table id="I_2" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var indicador2 in Model.Indicadores.I2)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

                <hr />
            </section>
        </div>
    </div>
    <div id="div_3" class="tabcontent">
        <!-- Contenido del div3 -->
        <div class="col" id="div3" style="display: none">
            <section id="section3" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 3 - Densidad Territorial de Expendios</h6>
                <blockquote class="blockquote mt-3">
                 @*   <p>Este indicador mide la relación entre.... .</p>*@
                </blockquote>
                @*  <div id="mapef_I3"></div>*@
                <div class="table-responsive">
                   <table id="I_3" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var indicador2 in Model.Indicadores.I3)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <hr />
            </section>
        </div>
    </div>
    <div id="div_4" class="tabcontent">
        <!-- Contenido del div4 -->
        <div class="col" id="div4" style="display: none;">
            <section id="section4" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 4 - Couta de Consumo por Vehículo</h6>

                <blockquote class="blockquote mt-3">
                 @*   <p>Este indicador mide la relación entre.... .</p>*@
                </blockquote>
             @*     <div id="mapef_I4"></div>*@
                <div class="table-responsive">
                    <table id="I_4" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var indicador2 in Model.Indicadores.I4)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>


                <hr />
            </section>
        </div>
    </div>
    <div id="div_5" class="tabcontent">
        <!-- Contenido del div5 -->
        <div class="col" id="div5" style="display: none">
            <section id="section5" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 5 - Marginación</h6>
                <blockquote class="blockquote mt-3">
                
                </blockquote>
             
                 <div class="table-responsive">
                    <table id="I_5" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I5)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                <hr />
            </section>
        </div>
    </div>
    <div id="div_6" class="tabcontent">
        <!-- Contenido del div6 -->
        <div class="col" id="div6" style="display: none">
            <section id="section6" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 6 - Cuota de mercado de Gas L.P.</h6>
                <blockquote class="blockquote mt-3">
                @*    <p>Este indicador mide la relación entre.... .</p>*@
                </blockquote>
        @*           <div id="mapef_I6"></div>  *@
                <div class="table-responsive">
                    <table id="I_6" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I6)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <hr />
            </section>
        </div>
    </div>
    <div id="div_7" class="tabcontent">
        <!-- Contenido del div7 -->
        <div class="col" id="div7" style="display: none;">
            <section id="section7" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 7 - Couta de Mercado por Tipo de Recipiente: Cilindro</h6>
                <blockquote class="blockquote mt-3">
                  @*  <p>Este indicador mide la relación entre.... .</p>*@
                </blockquote>
               @*  <div id="mapef_I7"></div>   *@
                 <div class="table-responsive">
                    <table id="I_7" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I7)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr />
            </section>
        </div>
    </div>
    <div id="div_8" class="tabcontent">
        <!-- Contenido del div8-->
        <div class="col" id="div8" style="display: none">
            <section id="section8" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 8 - Couta de Mercado por Tipo de Recipiente: Fijo o Estacionario</h6>
                <blockquote class="blockquote mt-3">
                  @*  <p>Este indicador mide la relación entre.... .</p>*@
                </blockquote>
                @*   <div id="mapef_I8"></div>  *@
                 <div class="table-responsive">
                    <table id="I_8" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I8)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr />
            </section>

        </div>
    </div>
   <div id="div_9" class="tabcontent">
        <!-- Contenido del div9 -->
        <div class="col" id="div9" style="display: none">
            <section id="section9" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 9 - Tasa de consumo Exosomático</h6>
                <blockquote class="blockquote mt-3">
                 
                </blockquote>
             
                <div class="table-responsive">
                    <table id="I_9" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I9)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr />
            </section>
        </div>
    </div>
   <div id="div_10" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div10" style="display: none">
            <section id="section10" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 10 - Nearshoring</h6>
                <blockquote class="blockquote mt-3">
          
                </blockquote>
 
                 <div class="table-responsive">
                    <table id="I_10" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I10)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>



                <hr />
            </section>

        </div>
    </div>
    <div id="div_11" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div11" style="display: none">
            <section id="section11" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 11 - Nearshoring con Restricción de Agua</h6>
                <blockquote class="blockquote mt-3">
                 
                </blockquote>
              
                 <div class="table-responsive">
                    <table id="I_11" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I11)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                <hr />
            </section>

        </div>
    </div>
    <div id="div_12" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div12" style="display: none">
            <section id="section12" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 12 - Impulso al Desarrollo del Sureste</h6>
                <blockquote class="blockquote mt-3">
                  @*  <p>Este indicador mide la relación entre.... .</p>*@
                </blockquote>
                 @*  <div id="mapef_I12"></div>  *@
                 <div class="table-responsive">
                    <table id="I_12" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I12)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                <hr />
            </section>

        </div>
    </div>


    <div id="div_13" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div13" style="display: none">
            <section id="section13" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 13 - Desplazamiento de Leña</h6>
                <blockquote class="blockquote mt-3">
               
                </blockquote>
              
                <div class="table-responsive">
                    <table id="I_13" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicadores.I13)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                <hr />
            </section>

        </div>
    </div>

    <div id="div_14" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div14" style="display: none">
            <section id="section14" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 14 - Desplazamiento de Gasolina de Gas L.P.</h6>
                <blockquote class="blockquote mt-3">
                </blockquote>

                <div class="table-responsive">
                    <table id="I_14" class="table table-hover table-responsive table-bordered">
                    <thead>
                    <tr>
                    <th>EF_ID</th>
                    <th>EF_Nombre</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017</th>
                    <th>2018</th>
                    <th>2019</th>
                    <th>2020</th>
                    <th>2021</th>
                    <th>2022</th>
                    <th>2023</th>
                    <th>2024</th>
                    <th>2025</th>
                    <th>2026</th>
                    <th>2027</th>
                    <th>2028</th>
                    <th>2029</th>
                    <th>2030</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var indicador2 in Model.Indicadores.I14)
                    {
                    <tr>
                    <td>
                    @indicador2.EF_Nombre
                    </td>

                    <td>
                    @indicador2.EF_ID
                    </td>

                    <td style="@indicador2.C_Año1">

                    @indicador2.Año1
                    </td>
                    <td style="@indicador2.C_Año2">
                    @indicador2.Año2
                    </td>
                    <td style="@indicador2.C_Año3">
                    @indicador2.Año3
                    </td>

                    <td style="@indicador2.C_Año4">
                    @indicador2.Año4
                    </td>
                    <td style="@indicador2.C_Año5">
                    @indicador2.Año5
                    </td>
                    <td style="@indicador2.C_Año6">
                    @indicador2.Año6
                    </td>
                    <td style="@indicador2.C_Año7">
                    @indicador2.Año7
                    </td>
                    <td style="@indicador2.C_Año8">
                    @indicador2.Año8
                    </td>
                    <td style="@indicador2.C_Año9">
                    @indicador2.Año9
                    </td>
                    <td style="@indicador2.C_Año10">
                    @indicador2.Año10
                    </td>
                    <td style="@indicador2.C_Año11">
                    @indicador2.Año11
                    </td>
                    <td style="@indicador2.C_Año12">
                    @indicador2.Año12
                    </td>
                    <td style="@indicador2.C_Año13">
                    @indicador2.Año13
                    </td>
                    <td style="@indicador2.C_Año14">
                    @indicador2.Año14
                    </td>
                    <td style="@indicador2.C_Año15">
                    @indicador2.Año15
                    </td>
                    <td style="@indicador2.C_Año16">
                    @indicador2.Año16
                    </td>
                    </tr>
                    }
                    </tbody>
                    </table>
                </div>


                <hr />
            </section>

        </div>
    </div>

    <div id="div_15" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div15" style="display: none">
            <section id="section15" class="section_i">
                <h6 class="display-6 fw-bold subtitulo">Indicador 15 - Indicadores de la Demanda Interna de los Usuarios Finales</h6>
                <blockquote class="blockquote mt-3">
                </blockquote>
                @*<div class='tableauPlaceholder' id='viz1693355381134' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;7M&#47;7MGF9P4WF&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;7MGF9P4WF' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;7M&#47;7MGF9P4WF&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='es-ES' /></object></div>                <script type='text/javascript'>var divElement = document.getElementById('viz1693355381134'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1100px'; vizElement.style.height = '927px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>*@
                <div class="table-responsive">
                  @*<table id="I_15" class="table table-hover table-responsive table-bordered">
                    <thead>
                    <tr>
                    <th>EF_ID</th>
                    <th>EF_Nombre</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017</th>
                    <th>2018</th>
                    <th>2019</th>
                    <th>2020</th>
                    <th>2021</th>
                    <th>2022</th>
                    <th>2023</th>
                    <th>2024</th>
                    <th>2025</th>
                    <th>2026</th>
                    <th>2027</th>
                    <th>2028</th>
                    <th>2029</th>
                    <th>2030</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var indicador2 in Model.Indicadores.I15)
                    {
                    <tr>
                    <td>
                    @indicador2.EF_Nombre
                    </td>

                    <td>
                    @indicador2.EF_ID
                    </td>

                    <td style="@indicador2.C_Año1">

                    @indicador2.Año1
                    </td>
                    <td style="@indicador2.C_Año2">
                    @indicador2.Año2
                    </td>
                    <td style="@indicador2.C_Año3">
                    @indicador2.Año3
                    </td>

                    <td style="@indicador2.C_Año4">
                    @indicador2.Año4
                    </td>
                    <td style="@indicador2.C_Año5">
                    @indicador2.Año5
                    </td>
                    <td style="@indicador2.C_Año6">
                    @indicador2.Año6
                    </td>
                    <td style="@indicador2.C_Año7">
                    @indicador2.Año7
                    </td>
                    <td style="@indicador2.C_Año8">
                    @indicador2.Año8
                    </td>
                    <td style="@indicador2.C_Año9">
                    @indicador2.Año9
                    </td>
                    <td style="@indicador2.C_Año10">
                    @indicador2.Año10
                    </td>
                    <td style="@indicador2.C_Año11">
                    @indicador2.Año11
                    </td>
                    <td style="@indicador2.C_Año12">
                    @indicador2.Año12
                    </td>
                    <td style="@indicador2.C_Año13">
                    @indicador2.Año13
                    </td>
                    <td style="@indicador2.C_Año14">
                    @indicador2.Año14
                    </td>
                    <td style="@indicador2.C_Año15">
                    @indicador2.Año15
                    </td>
                    <td style="@indicador2.C_Año16">
                    @indicador2.Año16
                    </td>
                    </tr>
                    }
                    </tbody>
                    </table>*@
                </div>


                <hr />
            </section>

        </div>
    </div>


</section>

<br />
