@model Mep
<br />
   <h3 class="subtitulo display-9 fw-bold">Información General</h3>
    
@*Seccion de Totales*@
@if (Model.ObtenerTotalSolicitudes_EvaluarPetroliferos != null)
{
    @foreach (var totales in Model.ObtenerTotalSolicitudes_EvaluarPetroliferos)
    {
        <section class="section-scroll">


            <div class="card_t">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/evaluar.png" alt="Icono personalizado" class="iconomenu"></span>
                        <h3>@totales.Total_de_Solicitudes_a_Evaluar.ToString("N0")</h3>
                        <p>Total de Solicitudes a Evaluar a Nivel Nacional</p>
                    </div>

            <div class="card_t">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/documentoscompletos.png" alt="Icono personalizado" class="iconomenu"></span>
                        <h3>@totales.Con_Documentos_Completos.ToString("N0")</h3>
                        <p>Solicitudes con Documentos Completos a Nivel Nacional</p>
                    </div>

            <div class="card_t">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/analisis.png" alt="Icono personalizado" class="iconomenu"></span>
                        <h3>@totales.Con_Analisis_de_Riesgo.ToString("N0")</h3>
                        <p>Solicitudes con Análisis de Riesgo a Nivel Nacional</p>
                    </div>
            
            <div class="card_t">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/totales.png" alt="Icono personalizado" class="iconomenu"></span>
                        <h3>@totales.Total_de_Permisos_de_Expendio.ToString("N0")</h3>
                        <p>Total de Permisos de Expendio al Público</p>
                    </div>
        

        </section>

    }
}
@*Fin Seccion de Totales*@
