@model DetalleCalificacion_EF


<br />
   <h3 class="subtitulo display-9 fw-bold">Resultados</h3>
<!-- Sección de Totales -->
@if (Model.Parametros_EF != null)
{
    @foreach (var totales in Model.Parametros_EF)
    {

        <div style="background-color: #1e3042;padding: 2%;text-align: center;color: white;">
            <div class="flex-container">
                <div class="flex-item">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/indicadores.png" alt="Icono personalizado" class="iconomenu"></span>
                    <p>Parámetros de la Evaluación</p>
                    <p class="btn btn-primary">Indicadores: @totales.ColumnasSeleccionadas_P1</p>
                    <p class="btn btn-danger" style="display:none"> Umbral: @totales.Umbral_P1</p>
                </div>

                <div class="flex-item">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/Aprobado.png" alt="Icono personalizado" class="iconomenu"></span>
                    <p>Solicitudes en Categoría "A" (No saturadas):</p>
                    <h3>@totales.Aprobados</h3>
                </div>

                <div class="flex-item">
                    <span class="icon"><img src="@Cdn.Url/img_snier/vistas/NoAprobado.png" alt="Icono personalizado" class="iconomenu"></span>
                    <p>Solicitudes en Categoría "D" (Saturadas)</p>
                    <h3>@totales.NoAprobados</h3>
                </div>
            </div>
        </div>

    }
}
<!-- Fin Sección de Totales -->
