@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;



}



@{
    ViewData["Title"] = "Mecanismo de Evaluación y Planeación";
}
<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h3>
</div>

<!-- Miga de Pan -->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb" style="padding-left:15px">
    <ol class="breadcrumb lp-5">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="container">
     @if ( perfilUsuario.Mercado_ID=="0")
                            {  
<h2 class="fw-bold   subtitulo ">Seleccione un Mercado Energético</h2>

  }



<div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var tarjeta in ViewBag.Tarjetas)
            {
                if (tarjeta.ShouldDisplay)
                {
                    <div class="col col-md-3">
                        <div class="card shadow-sm @(tarjeta.EsDisabled ? "disabled" : "")">
                            <a class="card-link @(tarjeta.EsDisabled ? "disabled" : "")" asp-controller="@tarjeta.Controlador" asp-action="@tarjeta.Accion">
                                <div class="card-img">
                                    <img src="@Cdn.Url/img_snier/vistas/@tarjeta.ImagenSrc" class="card-img" alt="..." />
                                    <div class="card-overlay">
                                        <h5 class="card-title">
                                            <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                            @tarjeta.Titulo
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


    @* 
    Mecanismo de Evaluación Interno 

            <div class="app-card app-card-accordion shadow-sm mb-4">
                <div class="app-card-header p-4 pb-2  border-0">
                    <h4 class="app-card-title">Snier - Mecanismo de Evaluación</h4>

                </div><!--//app-card-header-->
                <div class="app-card-body p-4 pt-0">
                    <div id="faq1-accordion" class="faq1-accordion faq-accordion accordion">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq1-heading-1">
                                <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq1-1" aria-expanded="true" aria-controls="faq1-1">
                                    ¿Cómo ejecutar el Mecanismo de Evaluación?
                                </button>
                                <hr>
                            </h2>
                            
                            <div id="faq1-1" class="accordion-collapse border-0 collapse show"
                                aria-labelledby="faq1-heading-1" style="">
                                <div class="accordion-body text-justify p4 ">
                                    <div class="alert alert-light" role="alert">
                                        <div class="row">
                                            <div class="col-12" style="text-align:justify !important;">
                                                <strong> ¡Estimado Servidor!</strong><br><br>
                                                En SNIER, entendemos la importancia de evaluar adecuadamente
                                                los proyectos ....                                              <br><br>


                                                Por favor consulte el Manual de Operación
                                                <hr>
                                                @if (perfilUsuario.Mercado_ID == "1"  || perfilUsuario.Rol == "1")
                                                {

                                                    <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe"
                                                        src="https://heyzine.com/flip-book/5df6fc6867.html"
                                                        style="border: 1px solid lightgray; width: 100%; height: 400px;"></iframe>

                                                }
                                                @if (perfilUsuario.Mercado_ID == "2" || perfilUsuario.Rol == "1")
                                                {
                                                    <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe"
                                                        src="https://heyzine.com/flip-book/ca6dbc2a74.html"
                                                        style="border: 1px solid lightgray; width: 100%; height: 400px;"></iframe>
                                                }
                                                @if ( int.Parse(perfilUsuario.IdUsuario) == 53 || perfilUsuario.Rol == "1")
                                                {
                                                    <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe"
                                                        src="https://heyzine.com/flip-book/ca6dbc2a74.html"
                                                        style="border: 1px solid lightgray; width: 100%; height: 400px;"></iframe>
                                                }
                                                <br>
                                                <br>
                                            </div>

                                        </div>
                                    </div>




                                </div>
                            </div><!--//accordion-item-->



                        </div><!--//faq1-accordion-->
                  
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div>
 
</div>

*@