@model Mep



@{
    ViewData["Title"] = "MEP - Resultados Mecanismo de Evaluación y Planeación";

}

<div class="text-center ">
    <h3 class="display-6  fw-bold titulo">@ViewData["Title"]</h3>
</div>

<br />




@*Sección del Mecanismo de Evaluación*@
<br />
<button class="btn btn-cre-rojo" id="botonMEP" onclick="toggleMEP()">Ocultar Mecanismo de Evaluación</button>

<seccion id="mecanismo_evaluacion" class="pt-3 shadow p-3 mb-5 bg-body-tertiary rounded">
    <br />
    <h3 class="text-center titulo">Configure los parámetros para realizar la Evaluación</h3>
    <br />
    <div class="container mt-3">
        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
        <form asp-controller="Indicadores" asp-action="Mecanismo">
            <div class="row shadow-none p-3 mb-5 bg-body-tertiary rounded">


                <div class="col-md-6 ">
                    <h5 class="text-center fw-bold">Seleccione los indicadores:</h5>
                    <hr />
                    <div class="form-check">
                        <input asp-for="chkI1" class="form-check-input" type="checkbox" id="chk1" />
                        <label class="form-check-label" for="chk1">Indicador 1 - Atención al Usuario Final</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI2" class="form-check-input" type="checkbox" id="chk2" />
                        <label class="form-check-label" for="chk2">Indicador 2 - Densidad Territorial de
                            Expendios</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI3" class="form-check-input" type="checkbox" id="chk3" />
                        <label class="form-check-label" for="chk3">Indicador 3 - Densidad Territorial de
                            Vehículos</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI4" class="form-check-input" type="checkbox" id="chk4" />
                        <label class="form-check-label" for="chk4">Indicador 4 - Marginación</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI5" class="form-check-input" type="checkbox" id="chk5" />
                        <label class="form-check-label" for="chk5">Indicador 5 - Cuota de Mercado Petrolíferos</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI6" class="form-check-input" type="checkbox" id="chk6" />
                        <label class="form-check-label" for="chk6">Indicador 6 - Cuota de Mercado Gasolinas</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI7" class="form-check-input" type="checkbox" id="chk7" />
                        <label class="form-check-label" for="chk7">Indicador 7 - Tasa de Consumo Exosomático</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI8" class="form-check-input" type="checkbox" id="chk8" />
                        <label class="form-check-label" for="chk8">Indicador 8 - Impulso al desarrollo del
                            Sureste</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI9" class="form-check-input" type="checkbox" id="chk9" />
                        <label class="form-check-label" for="chk9">Indicador 9 - Impulso a la electromovilidad</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="chkI10" class="form-check-input" type="checkbox" id="chk10" />
                        <label class="form-check-label" for="chk10">Indicador 10 - Nearshoring</label>
                    </div>


                </div>

                <div class="col-md-6  bg-body-tertiary rounded">

                    <div class="mb-3">

                        <br />
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">¡Importante!</h4>
                            <p> El campo 'Umbral' no puede estar vacío, llenarse solo con espacios,tampoco puede ser
                                cero :"0", ni mayor a "1".</p>
                            <br />
                            <div class="input-group">
                                <input asp-for="umbralSeleccionado" type="number" class="form-control"
                                    placeholder="Umbral" id="umbral" min="0.01" max="1" step="0.01" />
                                <span asp-validation-for="umbralSeleccionado" class="text-danger"></span>
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                            <hr>
                            <p class="mb-0">

                                <button type="submit" id="btnMostrar" class="btn btn-primary mt-3">Ejecutar
                                    Evaluación</button>
                                <button id="btnHabilitar" class="btn btn-primary mt-3" style="display: none">
                                    -> Haz clic aquí para realizar otra evaluación!
                                </button>
                            </p>
                        </div>



                    </div>

                </div>
            </div>
        </form>
        <br />
        <div id="result-message" class="alert alert-warning pb-3 text-center" role="alert">
            <strong>
                <p class="w-100" style="display: none"><i class="bi bi-exclamation-octagon-fill"></i></p>
            </strong>
        </div>
        <br />
        <div class="progress mt-3" style="display: none">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                aria-valuemax="100">
                Ejecutando Corrida con los Indicadores Seleccionados... (espere)
            </div>
        </div>
    </div>






</seccion>
<br />
<section id="resultados">
    <hr />
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label for="valor-total" class="form-label">Total de Solicitudes Evaluadas:</label>
            <input type="text" class="form-control" id="valor-total" readonly />
        </div>
        <div class="col-sm-6 mb-3">
            <label for="resultado" class="form-label">Resultado con los Indicadores Seleccionados:</label>
            <input type="text" class="form-control" id="resultado" readonly />
        </div>
    </div>

    <center>
        <div class="tab">
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_1') " data-indicator="1">Indicador
                1</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_2') " data-indicator="2">Indicador
                2</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_3') " data-indicator="3">Indicador
                3</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_4') " data-indicator="4">Indicador
                4</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_5') " data-indicator="5">Indicador
                5</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_6') " data-indicator="6">Indicador
                6</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_7') " data-indicator="7">Indicador
                7</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_8') " data-indicator="8">Indicador
                8</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_9') " data-indicator="9">Indicador
                9</button>
            <button class="tablinks indicator-tab" onclick="openTab(event, 'div_10')" data-indicator="10">Indicador
                10</button>

        </div>
    </center>

    <div id="div_1" class="tabcontent">
        <!-- Contenido del div1 -->
        <div class="col" id="div1" style="display: none;">
            <section id="section1" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 1 - Atención al Usuario Final</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <div class="table-responsive">

                    <table id="I_1" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var indicador2 in Model.Indicador1)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

                <div class="container m-3">
                    <div class="row ">
                        <div class="col-md-6 p-1">

                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>

                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I1"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 1</a>
                        </div>
                    </div>
                </div>


                <hr />
            </section>
        </div>
    </div>
    <div id="div_2" class="tabcontent">
        <!-- Contenido del div2 -->
        <div class="col" id="div2" style="display: none">
            <section id="section2" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 2 - Densidad Territorial de Expendios</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <div class="table-responsive">

                    <table id="I_2" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var indicador2 in Model.Indicador2)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I2"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 2</a>
                        </div>
                    </div>
                </div>


                <hr />
            </section>
        </div>
    </div>
    <div id="div_3" class="tabcontent">
        <!-- Contenido del div3 -->
        <div class="col" id="div3" style="display: none">
            <section id="section3" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 3 - Densidad Territorial de Vehículos</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <div class="table-responsive">
                    <table id="I_3" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var indicador2 in Model.Indicador3)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I3"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 3</a>
                        </div>
                    </div>
                </div>
                <hr />
            </section>
        </div>
    </div>
    <div id="div_4" class="tabcontent">
        <!-- Contenido del div4 -->
        <div class="col" id="div4" style="display: none;">
            <section id="section4" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 4 - Marginación</h6>

                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <div class="table-responsive">
                    <table id="I_4" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>EF_ID</th>
                                <th>EF_Nombre</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                                <th>2019</th>
                                <th>2020</th>
                                <th>2021</th>
                                <th>2022</th>
                                <th>2023</th>
                                <th>2024</th>
                                <th>2025</th>
                                <th>2026</th>
                                <th>2027</th>
                                <th>2028</th>
                                <th>2029</th>
                                <th>2030</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var indicador2 in Model.Indicador4)
                            {
                                <tr>
                                    <td>
                                        @indicador2.EF_Nombre
                                    </td>

                                    <td>
                                        @indicador2.EF_ID
                                    </td>

                                    <td style="@indicador2.C_Año1">

                                        @indicador2.Año1
                                    </td>
                                    <td style="@indicador2.C_Año2">
                                        @indicador2.Año2
                                    </td>
                                    <td style="@indicador2.C_Año3">
                                        @indicador2.Año3
                                    </td>

                                    <td style="@indicador2.C_Año4">
                                        @indicador2.Año4
                                    </td>
                                    <td style="@indicador2.C_Año5">
                                        @indicador2.Año5
                                    </td>
                                    <td style="@indicador2.C_Año6">
                                        @indicador2.Año6
                                    </td>
                                    <td style="@indicador2.C_Año7">
                                        @indicador2.Año7
                                    </td>
                                    <td style="@indicador2.C_Año8">
                                        @indicador2.Año8
                                    </td>
                                    <td style="@indicador2.C_Año9">
                                        @indicador2.Año9
                                    </td>
                                    <td style="@indicador2.C_Año10">
                                        @indicador2.Año10
                                    </td>
                                    <td style="@indicador2.C_Año11">
                                        @indicador2.Año11
                                    </td>
                                    <td style="@indicador2.C_Año12">
                                        @indicador2.Año12
                                    </td>
                                    <td style="@indicador2.C_Año13">
                                        @indicador2.Año13
                                    </td>
                                    <td style="@indicador2.C_Año14">
                                        @indicador2.Año14
                                    </td>
                                    <td style="@indicador2.C_Año15">
                                        @indicador2.Año15
                                    </td>
                                    <td style="@indicador2.C_Año16">
                                        @indicador2.Año16
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 4</a>
                        </div>
                    </div>
                </div>


                <hr />
            </section>
        </div>
    </div>
    <div id="div_5" class="tabcontent">
        <!-- Contenido del div5 -->
        <div class="col" id="div5" style="display: none">
            <section id="section5" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 5 - Cuota de mercado Petrolíferos</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <partial name="_I5" />
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 5</a>
                        </div>
                    </div>
                </div>

                <hr />
            </section>
        </div>
    </div>
    <div id="div_6" class="tabcontent">
        <!-- Contenido del div6 -->
        <div class="col" id="div6" style="display: none">
            <section id="section6" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 6 - Cuota de mercado Gasolinas</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <partial name="_I6" />
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 6</a>
                        </div>
                    </div>
                </div>
                <hr />
            </section>
        </div>
    </div>
    <div id="div_7" class="tabcontent">
        <!-- Contenido del div7 -->
        <div class="col" id="div7" style="display: none;">
            <section id="section7" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 7 - Tasa de Consumo Exosomático</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <partial name="_I7" />
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 7</a>
                        </div>
                    </div>
                </div>
                <hr />
            </section>
        </div>
    </div>
    <div id="div_8" class="tabcontent">
        <!-- Contenido del div8-->
        <div class="col" id="div8" style="display: none">
            <section id="section8" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 8 - Impulso al desarrollo del Sureste</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <partial name="_I8" />
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 8</a>
                        </div>
                    </div>
                </div>
                <hr />
            </section>

        </div>
    </div>
    <div id="div_9" class="tabcontent">
        <!-- Contenido del div9 -->
        <div class="col" id="div9" style="display: none">
            <section id="section9" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 9 - Impulso a la Electromovilidad</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <partial name="_I9" />
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 9</a>
                        </div>
                    </div>
                </div>

                <hr />
            </section>
        </div>
    </div>
    <div id="div_10" class="tabcontent">
        <!-- Contenido del div10 -->
        <div class="col" id="div10" style="display: none">
            <section id="section10" class="section_i">
                <h6 class="display-6 fw-bold titulo">Indicador 10 - Nearshoring</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <partial name="_I10" />
                <div class="container m-3">
                    <div class="row">
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i
                                    class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>
                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores"
                                asp-action="Index_I4"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 10</a>
                        </div>
                    </div>
                </div>

                <hr />
            </section>

        </div>
    </div>
</section>
@*    <br />
    <button class="btn btn-cre-rojo" id="botonResultado" onclick="toggleResultado()">Ocultar Resultados del Mecanismo de Evaluación</button>*@


<br />

<link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" />

@section scripts {
    <script src="//code.jquery.com/jquery-3.5.1.js"> </script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"> </script>
    <script src="//cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    @*Mapa*@
    <script src="~/Mapas/Públicos/SEM/js/qgis2web_expressions.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/leaflet.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/leaflet-svg-shape-markers.min.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/leaflet.rotatedMarker.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/leaflet.pattern.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/leaflet-hash.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/Autolinker.min.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/rbush.min.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/labelgun.min.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/labels.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/leaflet-control-geocoder.Geocoder.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/leaflet-measure.js"></script>
    <script src="~/Mapas/Públicos/SEM/js/leaflet-search.js"></script>


    @*Toggle's*@
    <script>
        function toggleMapa() {
            var mapa = document.getElementById("despliega_mapa");
            var botonMapa = document.getElementById("botonMapa");

            if (mapa.style.display === "none") {
                mapa.style.display = "block";
                botonMapa.textContent = "Ocultar Mapa con Solicitudes";
            } else {
                mapa.style.display = "none";
                botonMapa.textContent = "Desplegar Mapa con Solicitudes";
            }
        }

        function toggleMEP() {
            var mapa = document.getElementById("mecanismo_evaluacion");
            var botonMapa = document.getElementById("botonMEP");

            if (mapa.style.display === "none") {
                mapa.style.display = "block";
                botonMapa.textContent = "Ocultar MEP";
            } else {
                mapa.style.display = "none";
                botonMapa.textContent = "Desplegar MEP";
            }
        }


        function toggleResultado() {
            var mapa = document.getElementById("resultados");
            var botonMapa = document.getElementById("botonResultado");

            if (mapa.style.display === "none") {
                mapa.style.display = "block";
                botonMapa.textContent = "Ocultar Resultados -> MEP";
            } else {
                mapa.style.display = "none";
                botonMapa.textContent = "Desplegar  Resultados -> MEP";
            }
        }
    </script>



    @*////////////////////////////////////////////////////////////Manejo del Mapa////////////////////////////////////////////////*@
    @* Mapa *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>

    @*Funcionalidades del Mapa Inicial*@
    <script>

        //Invoca el Mapa
        var map = L.map('map', {
            center: [23.6345, -102.5528],
            zoom: 3,
            zoomControl: true,
            attributionControl: false,
            keyboard: true,
            minZoom: 5,
        });

        // Capa de mosaicos OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        //Crea los Iconos
        var iconoBase = L.Icon.extend({
            options: {
                iconSize: [24, 24],
                iconAnchor: [12, 16],
                popupAnchor: [-3, -76]
            }
        });

        var iconoSolicitudes = new iconoBase({ iconUrl: '@Cdn.Url/img_snier/vistas/Solicitudes.png' }),
            iconoExpendio = new iconoBase({ iconUrl: '@Cdn.Url/img_snier/vistas/Expendio.png' }),
            iconoAzul = new iconoBase({ iconUrl: 'azul.png' });



        // Capa de mosaicos Stamen Toner
        L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}{r}.png', {
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, ' +
                '<a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; ' +
                'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            subdomains: 'abcd',
            minZoom: 0,
            maxZoom: 20
        }).addTo(map);

        // Capa de mosaicos CartoDB Positron
        L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
            attribution: 'Map tiles by <a href="https://carto.com/attribution">Carto</a>, ' +
                'under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. ' +
                'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, ' +
                'under <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY SA</a>',
            subdomains: 'abcd',
            maxZoom: 19
        }).addTo(map);

        // Agrega las capas de mosaicos como opciones de vista
        var baseLayers = {
            "OpenStreetMap": L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }),
            "Stamen Toner": L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}{r}.png', {
                attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, ' +
                    '<a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; ' +
                    'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
                subdomains: 'abcd',
                minZoom: 0,
                maxZoom: 20
            }),
            "CartoDB Positron": L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
                attribution: 'Map tiles by <a href="https://carto.com/attribution">Carto</a>, ' +
                    'under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. ' +
                    'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, ' +
                    'under <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY SA</a>',
                subdomains: 'abcd',
                maxZoom: 19
            })
        };

        // Activa una capa de mosaicos como vista inicial
        baseLayers["OpenStreetMap"].addTo(map);

        // Control de capas para seleccionar la vista del mapa
        L.control.layers(baseLayers).addTo(map);






        //Agreaga las Solicitudes de Permiso a evaluar en el Mapa Inicialmente
        var coordenadasp = @Html.Raw(ViewBag.JsonObjects["ObtenerMapaSolicitudesPetroliferosJson"]);

        // Agrega los marcadores para las coordenadas de solicitudes al mapa actual
        for (var j = 0; j < coordenadasp.length; j++) {
            var coordenada = coordenadasp[j];
            var marker = L.marker([coordenada.Latitud_GEO, coordenada.Longitud_GEO], { icon: iconoSolicitudes }).addTo(map);
            marker.bindPopup("<h3> <i class='bi bi-fingerprint'></i> ID Solicitud: " + coordenada.ID + "</h3><hr/><p><i class='bi bi-geo-alt-fill'></i> Entidad Federetiva: " + coordenada.EF_Nombre + "</p> <hr/><ul><li>Municipio: " + coordenada.Municipio_Nombre + "</li><li>¿Documentos Completos?:" + coordenada.Documentos_completos + "</li><li>¿Tiene Análisis de Riesgo?:" + coordenada.Analisis_riesgo + "</li></ul><a target='_blank' ");
        }


        //Lista de Entidades Federativas
        const entidades_federativas = [
            { nombre: 'Centrar Mapa', coordenadas: [23.634501, -102.552784] },
            { nombre: 'Aguascalientes', coordenadas: [22.025278, -102.372778] },
            { nombre: 'Baja California', coordenadas: [30.391389, -115.291389] },
            { nombre: 'Baja California Sur', coordenadas: [26.044444, -112.399722] },
            { nombre: 'Campeche', coordenadas: [18.938333, -90.764722] },
            { nombre: 'Coahuila', coordenadas: [27.158056, -101.719444] },
            { nombre: 'Colima', coordenadas: [19.101944, -103.014722] },
            { nombre: 'Chiapas', coordenadas: [16.753056, -92.6375] },
            { nombre: 'Chihuahua', coordenadas: [28.673611, -106.102222] },
            { nombre: 'Ciudad de México', coordenadas: [19.432778, -99.133333] },
            { nombre: 'Durango', coordenadas: [24.865278, -104.902222] },
            { nombre: 'Guanajuato', coordenadas: [20.875, -101.478611] },
            { nombre: 'Guerrero', coordenadas: [17.814722, -100.353056] },
            { nombre: 'Hidalgo', coordenadas: [20.5325, -98.870556] },
            { nombre: 'Jalisco', coordenadas: [20.673611, -103.343333] },
            { nombre: 'Estado de México', coordenadas: [19.483611, -99.689722] },
            { nombre: 'Michoacán', coordenadas: [19.699722, -101.191389] },
            { nombre: 'Morelos', coordenadas: [18.858611, -99.223611] },
            { nombre: 'Nayarit', coordenadas: [21.799444, -105.220833] },
            { nombre: 'Nuevo León', coordenadas: [25.649167, -100.443611] },
            { nombre: 'Oaxaca', coordenadas: [16.895833, -96.806667] },
            { nombre: 'Puebla', coordenadas: [19.051389, -98.193889] },
            { nombre: 'Querétaro', coordenadas: [20.854722, -99.847222] },
            { nombre: 'Quintana Roo', coordenadas: [19.642778, -87.072222] },
            { nombre: 'San Luis Potosí', coordenadas: [22.156944, -100.985556] },
            { nombre: 'Sinaloa', coordenadas: [24.288611, -107.366944] },
            { nombre: 'Sonora', coordenadas: [29.089444, -110.961667] },
            { nombre: 'Tabasco', coordenadas: [17.980000, -92.930000] },
            { nombre: 'Tamaulipas', coordenadas: [24.014167, -98.844444] },
            { nombre: 'Tlaxcala', coordenadas: [19.312222, -98.239722] },
            { nombre: 'Veracruz', coordenadas: [19.546389, -96.914167] },
            { nombre: 'Yucatán', coordenadas: [20.891944, -89.528611] },
            { nombre: 'Zacatecas', coordenadas: [22.770833, -102.583611] },
        ];


        //Entidades Federativas
        const sidebar = document.querySelector('#sidebar');


        //Eventos Baiscos

        map.on('click', (evento) => {
            const lat = evento;
            console.log(lat.latlng)
        });

        //Metodos
        map.center




        //Funciones

        //Fly to Place
        const volar = (latlng) => {
            map.flyTo(latlng, 7);
        }

        //Limpiar Items del Side Bar
        const limpiaritems = () => {
            const listadoLi = document.querySelectorAll('li');
            listadoLi.forEach(li => {
                li.classList.remove('active');
            })
        }


        //Crea el Side Bar
        const crearitem = () => {
            const ul = document.createElement('ul');
            ul.classList.add('list-group');
            sidebar.append(ul);

            entidades_federativas.forEach((lugar) => {
                const li = document.createElement('li');
                li.innerText = lugar.nombre;
                li.classList.add('list-group-item');
                li.style.overflow = 'auto'; // Agrega una barra de desplazamiento solo cuando sea necesario
                li.style.maxHeight = '200px'; // Establece la altura máxima del li

                ul.append(li);

                li.addEventListener('click', () => {
                    limpiaritems();
                    li.classList.add('active')
                    volar(lugar.coordenadas);
                })

            });
        };
        crearitem();


        //Función StreetView de Google
        map.on('click', function (e) {
            let lat = e.latlng.lat.toPrecision(8);
            let lon = e.latlng.lng.toPrecision(8);
            const point = L.marker([lat, lon]).addTo(map)
                .bindPopup('<a href="http://maps.google.com/maps?q=&layer=c&cbll=' + lat + ',' + lon + '&cbp=11,0,0,0,0" target="blank"><b> Google Street View </b></a>').openPopup();
        })

        //Función para Limpiar los Marcadores del Mapa
        function limpiarMarcadores() {
            // Limpiar marcadores existentes
            map.eachLayer(function (layer) {
                if (layer instanceof L.Marker) {
                    map.removeLayer(layer);
                }
            });
        }


        //Datos de Solicitudes a Revisar de Expendios
        function CargaSolicitudes() {
            // Limpiar marcadores existentes
            limpiarMarcadores();
            //Agreaga las Solicitudes de Permiso a evaluar en el Mapa
            var coordenadasp = @Html.Raw(ViewBag.JsonObjects["ObtenerMapaSolicitudesPetroliferosJson"]);
            // Agrega los marcadores para las coordenadas del mapa actual
            for (var j = 0; j < coordenadasp.length; j++) {
                var coordenada = coordenadasp[j];
                var marker = L.marker([coordenada.Latitud_GEO, coordenada.Longitud_GEO], { icon: iconoSolicitudes }).addTo(map);
                marker.bindPopup("<h3> <i class='bi bi-fingerprint'></i> ID Solicitud: " + coordenada.ID + "</h3><hr/><p><i class='bi bi-geo-alt-fill'></i> Entidad Federetiva: " + coordenada.EF_Nombre + "</p> <hr/><ul><li>Municipio: " + coordenada.Municipio_Nombre + "</li><li>¿Documentos Completos?:" + coordenada.Documentos_completos + "</li><li>¿Tiene Análisis de Riesgo?:" + coordenada.Analisis_riesgo + "</li></ul><a target='_blank' ");
            }

        }

        //Función que carga los permisos de Expendio
        function CargaExpendios() {
            // Limpiar marcadores existentes
            limpiarMarcadores();
            var coordenadas = @Html.Raw(ViewBag.JsonObjects["ExpendiosJson"]);
            // Agrega los marcadores para las coordenadas del mapa actual
            for (var j = 0; j < coordenadas.length; j++) {
                var coordenada = coordenadas[j];
                var marker = L.marker([coordenada.Latitud_GEO, coordenada.Longitud_GEO], { icon: iconoExpendio }).addTo(map);
                //            marker.bindPopup("<h3>" + coordenada.Titulo + "</h3><p>" + coordenada.Descripcion + "</p><img src='" + coordenada.Imagen + "' alt='Imagen' class='imagenmapa_popup'>");

                marker.bindPopup("<h3>" + coordenada.NumeroPermiso + "</h3><p>" + coordenada.Razón_social + "</p> <hr/><ul><li>Fecha de Otorgamiento del Permiso:" + coordenada.FechaOtorgamiento + "</li><li>Número de Permiso:" + coordenada.NumeroPermiso + "</li></ul><a target='_blank' href='/Indicadores/DetalleExpendio?NumeroPermiso=" + coordenada.NumeroPermiso + "'>Ver detalle</a>");

            }
        }

        //Función que carga los permisos de Expendio y las Solicitudes
        function CargaSyE() {
            // Limpiar marcadores existentes
            limpiarMarcadores();

            var coordenadas = @Html.Raw(ViewBag.JsonObjects["ExpendiosJson"]);
            // Agrega los marcadores para las coordenadas del mapa actual
            for (var j = 0; j < coordenadas.length; j++) {
                var coordenada = coordenadas[j];
                var marker = L.marker([coordenada.Latitud_GEO, coordenada.Longitud_GEO], { icon: iconoExpendio }).addTo(map);
                //            marker.bindPopup("<h3>" + coordenada.Titulo + "</h3><p>" + coordenada.Descripcion + "</p><img src='" + coordenada.Imagen + "' alt='Imagen' class='imagenmapa_popup'>");

                marker.bindPopup("<h3>" + coordenada.NumeroPermiso + "</h3><p>" + coordenada.Razón_social + "</p> <hr/><ul><li>Fecha de Otorgamiento del Permiso:" + coordenada.FechaOtorgamiento + "</li><li>Número de Permiso:" + coordenada.NumeroPermiso + "</li></ul><a target='_blank' href='/Indicadores/DetalleExpendio?NumeroPermiso=" + coordenada.NumeroPermiso + "'>Ver detalle</a>");

            }

            //Agreaga las Solicitudes de Permiso a evaluar en el Mapa
            var coordenadasp = @Html.Raw(ViewBag.JsonObjects["ObtenerMapaSolicitudesPetroliferosJson"]);
            // Agrega los marcadores para las coordenadas del mapa actual
            for (var j = 0; j < coordenadasp.length; j++) {
                var coordenada = coordenadasp[j];
                var marker = L.marker([coordenada.Latitud_GEO, coordenada.Longitud_GEO], { icon: iconoSolicitudes }).addTo(map);
                marker.bindPopup("<h3> <i class='bi bi-fingerprint'></i> ID Solicitud: " + coordenada.ID + "</h3><hr/><p><i class='bi bi-geo-alt-fill'></i> Entidad Federetiva: " + coordenada.EF_Nombre + "</p> <hr/><ul><li>Municipio: " + coordenada.Municipio_Nombre + "</li><li>¿Documentos Completos?:" + coordenada.Documentos_completos + "</li><li>¿Tiene Análisis de Riesgo?:" + coordenada.Analisis_riesgo + "</li></ul><a target='_blank' ");
            }

        }


        //Función que carga data Set de prueba
        function limpiarCargarMarcadores() {
            // Limpiar marcadores existentes
            limpiarMarcadores();

            //Agreaga los Datos de Prueba
            var coordenadasp = @Html.Raw(ViewBag.JsonObjects["ObtenerMapaJson"]);

            // Agrega los marcadores para las coordenadas del mapa actual
            for (var j = 0; j < coordenadasp.length; j++) {
                var coordenada = coordenadasp[j];
                var marker = L.marker([coordenada.Latitud, coordenada.Longitud]).addTo(map);
                marker.bindPopup("<h3>" + coordenada.Titulo + "</h3><p>" + coordenada.Descripcion + "</p><img src='" + coordenada.Imagen + "' alt='Imagen' class='imagenmapa_popup'>");
            }
        }

    </script>

    @*Funcionalidades Dropdown Capas*@
    <script>
        $(document).ready(function () {
            // Obtener el dropdown
            var dropdown = document.getElementById("dropdownMenuLink");

            // Obtener todas las opciones dentro del dropdown
            var opciones = dropdown.nextElementSibling.getElementsByClassName("dropdown-item");

            // Asignar el evento onclick a cada opción
            for (var i = 0; i < opciones.length; i++) {
                opciones[i].onclick = function (event) {
                    event.preventDefault(); // Evitar que se siga el enlace

                    // Quitar la clase activa de todas las opciones
                    for (var j = 0; j < opciones.length; j++) {
                        opciones[j].classList.remove("active");
                    }

                    // Agregar la clase activa a la opción seleccionada
                    this.classList.add("active");

                    // Obtener el texto de la opción seleccionada
                    var textoSeleccionado = this.textContent.trim();

                    // Actualizar el contenido del botón con el texto seleccionado
                    dropdown.textContent = textoSeleccionado;

                    // Obtener la función asociada a la opción seleccionada
                    var funcion = this.getAttribute("onclick");
                    // Ejecutar la función asociada
                    eval(funcion);
                };
            }
        });
    </script>

    @*Fin Manejo del Mapa*@

    @*Menú de Estados*@
    <script>
        // Detecta el cambio de selección en el menú de estados
        document.getElementById("estado").addEventListener("change", function () {
            // Obtiene el valor seleccionado del menú de estados
            var estado = document.getElementById("estado").value;

            // Muestra el estado seleccionado en el mapa
            switch (estado) {
                case "ags":
                    map.setView([22.025278, -102.372778], 9);
                    break;
                case "bc":
                    map.setView([30.391389, -115.291389], 7);
                    break;
                case "bcs":
                    map.setView([26.044444, -112.399722], 7);
                    break;
                case "camp":
                    map.setView([18.938333, -90.764722], 7);
                    break;
                case "coah":
                    map.setView([27.158056, -101.719444], 7);
                    break;
                case "col":
                    map.setView([19.101944, -103.014722], 9);
                    break;
                case "chis":
                    map.setView([16.753056, -92.6375], 7);
                    break;
                case "chih":
                    map.setView([28.673611, -106.102222], 7);
                    break;
                case "cdmx":
                    map.setView([19.432778, -99.133333], 10);
                    break;
                case "dgo":
                    map.setView([24.865278, -104.902222], 7);
                    break;
                case "gto":
                    map.setView([20.875, -101.478611], 8);
                    break;
                case "gro":
                    map.setView([17.814722, -100.353056], 8);
                    break;
                case "hgo":
                    map.setView([20.5325, -98.870556], 8);
                    break;
                case "jal":
                    map.setView([20.673611, -103.343333], 8);
                    break;
                case "mex":
                    map.setView([19.483611, -99.689722], 8);
                    break;
                case "mich":
                    map.setView([19.699722, -101.191389], 8);
                    break;
                case "mor":
                    map.setView([18.858611, -99.223611], 9);
                    break;
                case "nay":
                    map.setView([21.799444, -105.220833], 8);
                    break;
                case "nl":
                    map.setView([25.649167, -100.443611], 9);
                    break;
                case "oax":
                    map.setView([16.895833, -96.806667], 8);
                    break;
                case "pue":
                    map.setView([19.051389, -98.193889], 8);
                    break;
                case "qro":
                    map.setView([20.854722, -99.847222], 9);
                    break;
                case "qroo":
                    map.setView([19.642778, -87.072222], 8);
                    break;
                case "slp":
                    map.setView([22.156944, -100.985556], 8);
                    break;
                case "sin":
                    map.setView([24.288611, -107.366944], 8);
                    break;
                case "son":
                    map.setView([29.089444, -110.961667], 7);
                    break;
                case "tab":
                    map.setView([17.980000, -92.930000], 8);
                    break;
                case "tamps":

                    map.setView([24.014167, -98.844444], 7);
                    break;
                case "tlax":
                    map.setView([19.312222, -98.239722], 10);
                    break;
                case "ver":
                    map.setView([19.546389, -96.914167], 8);
                    break;
                case "yuc":
                    map.setView([20.891944, -89.528611], 8);
                    break;
                case "zac":
                    map.setView([22.770833, -102.583611], 8);
                    break;
                default:

                    map.setView([23.634501, -102.552784], 5);
                    break;
            }
        });

    </script>
    @*Fin menu de Estados*@

    @*Indicadores*@
    <script>
        $(document).ready(function () {
            $('#I_1').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I_2').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I_3').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I_4').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I5').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I6').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I7').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I8').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I9').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            $('#I10').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
        });
    </script>




    @*Funcionalidad Tabs*@
    <script>
        function openTab(event, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.className += " active";
        }
    </script>
    @*Mostrar Indicadorees*@
    <script>
        // Borramos el estado cuando se ocultan los resultados
        $("#btnHabilitar").click(function () {
            localStorage.removeItem('mostrarResultados');
            // Resto del código...
        });


        $("#btnMostrar").click(mostrarResultados);

        function mostrarResultados() {

            // Verificamos si el campo 'umbral' está vacío o contiene solo espacios
            var umbral = $("#umbral").val().trim();
            if (!umbral || umbral == 0 || umbral > 1) {
                $("#result-message").text("¡El campo 'Umbral' no puede estar vacío, llenarse solo con espacios, ni ser cero, ni mayor a 1!").show();
                return;
            }


            // Verificamos si se han seleccionado al menos un checkbox
            if (!$("input[type=checkbox]:checked").length) {
                $("#result-message").text("¡Debe seleccionar al menos un indicador primero!").show();
                return;
            }
            // Guardamos el estado cuando se muestran los resultados
            localStorage.setItem('mostrarResultados', 'true');


            // Resto del código para mostrar los resultados
            // Agregamos el mapa Leaflet a cada div visible
            $("div[id^='div']:visible").each(function () {
                // Creamos un mapa Leaflet y lo agregamos al div
                var map = L.map(this).setView([51.505, -0.09], 13);

                // Agregamos una capa de mosaico de OpenStreetMap
                L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors",
                    maxZoom: 18,
                }).addTo(map);

                // Agregamos un marcador en el centro del mapa
                L.marker([51.5, -0.09]).addTo(map);
            });

            // Iniciamos la barra de progreso
            $(".progress").show();
            $(".progress-bar").css("width", "0%");
            // Ocultamos todos los divs
            $("div[id^='div']").hide();
            // Recorremos los checkboxes y mostramos los divs seleccionados


            var count = $("input[type=checkbox]:checked").length;
            var progress = 100 / count;
            var progressValue = 0;
            $("input[type=checkbox]").each(function () {
                if ($(this).prop("checked")) {
                    var idDiv = "#div" + $(this).val();
                    $(idDiv).show();

                    // Aumentamos la barra de progreso
                    progressValue += progress;
                    $(".progress-bar").css("width", progressValue + "%");
                }
            });
            // Ocultamos la barra de progreso cuando termina
            setTimeout(function () {
                $(".progress").hide();
                $("div[id^='div']:visible").each(function (index) {
                    var delay = index * 500; // Retrasamos cada div en 500ms
                    $(this).delay(delay).fadeIn(500);
                });
            }, 1000);

            // Ocultamos el botón "Mostrar"
            $("#btnMostrar").hide();

            // Mostramos el mensaje con los indicadores seleccionados
            var message =
                "Este es el resultado con los siguientes indicadores seleccionados:";
            $("input[type=checkbox]:checked").each(function () {
                message += " Indicador " + $(this).val();
            });
            $("#result-message").text(message).show();
            // Deshabilitamos los checkboxes
            $("input[type=checkbox]").prop("disabled", true);

            // Mostramos el botón para habilitar los checkboxes
            $("#btnHabilitar").show();


            /////////
            // Ocultar todos los tabs
            $(".tablinks.indicator-tab").hide();

            // Recorrer los checkboxes y mostrar los tabs correspondientes
            $("input[type=checkbox]").each(function () {
                if ($(this).prop("checked")) {
                    var indicatorId = $(this).val();
                    $("#resultados").find(".tablinks.indicator-tab[data-indicator='" + indicatorId + "']").show();
                }
            });
            // Mostramos la sección de resultados
            $("#resultados").show();
        }

        // Función para habilitar los checkboxes y limpiarlos
        $("#btnHabilitar").click(function () {
            // Borramos el estado cuando se ocultan los resultados
            localStorage.removeItem('mostrarResultados');
            $("input[type=checkbox]").prop("disabled", false).prop("checked", false);
            $("#result-message").hide();
            $("#btnHabilitar").hide();
            $("#btnMostrar").show();
            $("#resultados").hide();
        });
        // Comprobamos el estado almacenado cuando la página se carga
        $(document).ready(function () {
            if (localStorage.getItem('mostrarResultados') === 'true') {
                mostrarResultados();
            }
            // Ocultar result-message al cargar la página
            $(document).ready(function () {
                $("#result-message").css("display", "none");
            });
    </script>






}