@model GraficosHidrocarburos
@{
    ViewData["Title"] = "Hidrocarburos | Volumen de Importaciones Petroliferos y GN";
}

<div class="text-center ">
    <h1 class="display-4 subtitulo fw-bold ">@ViewData["Title"]</h1>
</div>

<div id="grafico"></div>

<hr />
<br />
<div class="container">
    <div class="table-responsive">
        <table id="I_1" class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Petrolíferos y gas licuado</th>
                    <th>Gas licuado</th>
                    <th>Propano</th>
                    <th>Gasolinas 3</th>
                    <th>Naftas</th>
                    <th>Diesel</th>
                    <th>Combustóleo</th>
                    <th>Otros</th>
                    <th>Gas natural seco</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var indicador2 in Model.ObtieneImpVolumen_PvsGN)
                {
                    <tr>
                        <td>@indicador2.Año</td>
                        <td>@indicador2.Mes</td>
                        <td>@indicador2.Petrolíferos_y_gas_licuado</td>
                        <td>@indicador2.Gas_licuado</td>
                        <td>@indicador2.Propano</td>
                        <td>@indicador2.Gasolinas_3</td>
                        <td>@indicador2.Naftas</td>
                        <td>@indicador2.Diesel</td>
                        <td>@indicador2.Combustóleo</td>
                        <td>@indicador2.Otros</td>
                        <td>@indicador2.Gas_natural_seco</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section scripts{
  
@*Indicadores*@
<script>
    $(document).ready(function () {
        var dataTableOptions = {
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "Todos"]],
        };

        var indicadores = ['#I_1'];

        indicadores.forEach(function (indicador) {
            $(indicador).DataTable(dataTableOptions);
        });
    });
</script>

<script>
        $(document).ready(function () {
            // Obtener los datos del modelo
            var datos = @Html.Raw(Json.Serialize(Model.ObtieneImpVolumen_PvsGN));
            
            // Crear los arrays para los datos del gráfico
            var categorias = [];
            var series = [];

            // Recorrer los datos del modelo y llenar los arrays
            datos.forEach(function (dato) {
                categorias.push(dato.Mes);
                series.push(parseFloat(dato.petrolíferos_y_gas_licuado));
            });

            // Configurar el gráfico de Highcharts
            Highcharts.chart('grafico', {
                title: {
                    text: 'Volumen de Importaciones de Petrolíferos y Gas Natural'
                },
                xAxis: {
                    categories: categorias
                },
                yAxis: {
                    title: {
                        text: 'Volumen (en millones de barriles)'
                    }
                },
                series: [{
                    name: 'Petrolíferos y gas licuado',
                    data: series
                }]
            });
        });
    </script>
}