@model NSIE.Models.TramiteProyectoEstrategico

@{
    ViewData["Title"] = "Agregar Trámite";
}

<div class="text-center">
    <h4 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/proyecto.png" alt="Icono personalizado" class="iconomenu">
        Agregar Trámite
    </h4>
</div>
<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("MenuPE", "ProyEstrategicos" )">Menú de Proyectos Estratégicos</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("ListaProyectos", "ProyEstrategicos" )">Lista de Proyectos</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<div class="container container ps-5 pe-5">
    <h2 class="subtitulo">Agregar Trámite</h2>
    <br>

       @if (ViewBag.Errores != null && ViewBag.Errores.Count > 0)
    {
        <div class="alert alert-danger mt-3">
            <ul>
                @foreach (var error in ViewBag.Errores)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    <form id="form-agregar-tramite" asp-action="AgregarTramite" method="post" class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger validation-summary-errors"></div>
        
        <input type="hidden" asp-for="IDProyecto" value="@ViewBag.IDProyecto" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="RazonSocial" class="control-label"></label>
                    <input asp-for="RazonSocial" class="form-control" />
                    <span asp-validation-for="RazonSocial" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ubicación" class="control-label"></label>
                    <input asp-for="Ubicación" class="form-control" />
                    <span asp-validation-for="Ubicación" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tramite" class="control-label"></label>
                    <input asp-for="Tramite" class="form-control" />
                    <span asp-validation-for="Tramite" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Municipio" class="control-label"></label>
                    <input asp-for="Municipio" class="form-control" />
                    <span asp-validation-for="Municipio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaIngreso" class="control-label"></label>
                    <input asp-for="FechaIngreso" class="form-control" type="date" />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumeroFolio" class="control-label"></label>
                    <input asp-for="NumeroFolio" class="form-control" />
                    <span asp-validation-for="NumeroFolio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaRevisionJuridica" class="control-label"></label>
                    <input asp-for="FechaRevisionJuridica" class="form-control" type="date" />
                    <span asp-validation-for="FechaRevisionJuridica" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ComentariosRevisionJuridica" class="control-label"></label>
                    <textarea asp-for="ComentariosRevisionJuridica" class="form-control"></textarea>
                    <span asp-validation-for="ComentariosRevisionJuridica" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaSesionEstimado" class="control-label"></label>
                    <input asp-for="FechaSesionEstimado" class="form-control" />
                    <span asp-validation-for="FechaSesionEstimado" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ComentarioTramite" class="control-label"></label>
                    <textarea asp-for="ComentarioTramite" class="form-control"></textarea>
                    <span asp-validation-for="ComentarioTramite" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Responsables" class="control-label"></label>
                    <input asp-for="Responsables" class="form-control" />
                    <span asp-validation-for="Responsables" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <h5 class="pt-3">Seleccione el Avance del Trámite</h5>
                    <hr>
                    <div class="form-check">
                        <input type="checkbox" asp-for="TramiteIngresado" class="form-check-input" />
                        <label class="form-check-label" asp-for="TramiteIngresado">Trámite Ingresado</label>
                    </div>
                    <span asp-validation-for="TramiteIngresado" class="text-danger"></span>

                    <div class="form-check">
                        <input type="checkbox" asp-for="AnalisisEvaluacion" class="form-check-input" />
                        <label class="form-check-label" asp-for="AnalisisEvaluacion">Análisis y Evaluación</label>
                    </div>
                    <span asp-validation-for="AnalisisEvaluacion" class="text-danger"></span>

                    <div class="form-check">
                        <input type="checkbox" asp-for="AutorizadoParaPleno" class="form-check-input" />
                        <label class="form-check-label" asp-for="AutorizadoParaPleno">Autorizado para Pleno</label>
                    </div>
                    <span asp-validation-for="AutorizadoParaPleno" class="text-danger"></span>

                    <div class="form-check">
                        <input type="checkbox" asp-for="PermisoOtorgado" class="form-check-input" />
                        <label class="form-check-label" asp-for="PermisoOtorgado">Permiso Otorgado</label>
                    </div>
                    <span asp-validation-for="PermisoOtorgado" class="text-danger"></span>
                </div>

                <div class="form-group pb-3">
                                    <label asp-for="Estatus">Estatus</label>
                                    <select asp-for="Estatus" class="form-control">
                                        <option value="En Tramite">En Tramite</option>
                                        <option value="Suspendido">Suspendido</option>
                                        <option value="Terminado">Terminado</option>
                                    </select>
                        </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary text-right">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}