@model ProyectoEstrategico

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
}

@{
    ViewData["Title"] = "Agregar Proyecto";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/dashboard.png" alt="Icono personalizado" class="iconomenu" />@ViewData["Title"]
    </h3>
</div>

<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("MenuPE", "ProyEstrategicos" )">Menú de Proyectos
                    Estratégicos</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]
            </li>
        </ol>
    </nav>
</div>

<br />

<div class="container container ps-5 pe-5">
    <form asp-action="AgregarProyecto" method="post">
        <h6 class="subtitulo pb-3">Información General del Proyecto</h6>
        <br>
        <div class="alert alert-success alert-dismissible fade show pt-3" role="alert">
            <strong>¡Por favor ingrese la información general del proyecto!</strong> estos campos son obligatorios y no se permiten espacios en blanco al principio y al final.
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group pb-3">
            <label asp-for="NombreProyecto">Nombre del Proyecto</label>
            <input asp-for="NombreProyecto" class="form-control" />
            <span asp-validation-for="NombreProyecto" class="text-danger"></span>
        </div>

        <div class="form-group pb-3">
            <label asp-for="Descripción">Descripción</label>
            <textarea asp-for="Descripción" class="form-control"></textarea>
            <span asp-validation-for="Descripción" class="text-danger"></span>
        </div>

        <div class="form-group pb-3">
            <label asp-for="Mercado_ID">Mercado</label>
            <select asp-for="Mercado_ID" class="form-control" asp-items="ViewBag.Mercados"></select>
            <span asp-validation-for="Mercado_ID" class="text-danger"></span>
        </div>

       
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
