@model IEnumerable<NSIE.Models.ProyectoEstrategico>

@{
    ViewData["Title"] = "Lista de Proyectos";
}

<div class="text-center">
    <h4 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/proyecto.png" alt="Icono personalizado" class="iconomenu">
        Lista de Proyectos Estratégicos
    </h4>
</div>
<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("MenuPE", "ProyEstrategicos" )">Menú de Proyectos Estratégicos</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<div class="container container ps-5 pe-5">
    <h2 class="subtitulo">Selecciona el Proyecto y agrega el Tramite</h2>
    <br>
    <div class="table-responsive pt-6">
        <table id="LP" class="table table-hover table-responsive table-bordered">

            <thead>
                <tr>
                    <th>Nombre del Proyecto</th>
                    <th>Descripción</th>
                    <th>Mercado</th>
                    <th>Fecha de Ingreso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proyecto in Model)
                {
                    <tr>
                        <td>@proyecto.NombreProyecto</td>
                        <td class="text-wrap w-50">@proyecto.Descripción</td>
                        <td>@proyecto.Mercado</td>
                        <td>@proyecto.FechaIngreso.ToShortDateString()</td>
                        <td>
                            @* <a asp-controller="ProyEstrategicos" asp-action="Detalle" asp-route-id="@proyecto.IDProyecto" asp-route-vistaOrigen="ListaProyectos" class="btn btn-primary">Ver Detalles</a> *@
                            <a asp-controller="ProyEstrategicos" asp-action="AgregarTramite" asp-route-idProyecto="@proyecto.IDProyecto" class="btn btn-primary">Agregar Trámite a este Proyecto</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        var table = $('#LP').DataTable({
            lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "Todos"]],
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    title: 'EnergeoCRE-Proyectos Estratégicos'
                },
                {
                    extend: 'excelHtml5',
                    title: 'EnergeoCRE-Proyectos Estratégicos'
                },
                {
                    extend: 'csvHtml5',
                    title: 'EnergeoCRE-Proyectos Estratégicos'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'EnergeoCRE-Proyectos Estratégicos',
                    customize: function (doc) {
                        doc.styles.tableHeader.color = '#9fa1a4';
                        doc.defaultStyle.alignment = 'center';
                        doc.styles.tableHeader.fillColor = '#4c1922';
                    }
                }
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
            }
        });
    });
</script>
}
