@{
    ViewData[
                "Title"
            ] = "Recursos por Tipo de Tecnología Renovable";
}


<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h3>
</div>

    <h2 class="fw-bold   subtitulo ">@ViewData["Title"]</h2>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link"  asp-controller="Map" asp-action="I_Radiacion_Solar">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/14.jpg" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Fotovoltaica</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link"  asp-controller="Map" asp-action="I_Eolica">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/13.jpg" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Eólica</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_Yacimientos_Geotermicos">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/15.jpg" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Geotérmica</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_Hidroelectrica">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/16.jpg" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Hidroeléctrica</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>





            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_Biomasa">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/17.jpg" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Biomasa</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_Nuclear">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/19.jpg" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Nuclear</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>




        </div>
    </div>


</div>

