@{
    ViewData[
                "Title"
            ] = "Recursos por Tipo de Tecnología Fósil";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h3>
</div>
 <h2 class="fw-bold   subtitulo ">@ViewData["Title"]</h2>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


            <div class="col col-md-3">
                <div class="card shadow-sm">
                      <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_Carbo">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/cec.jpg" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Central Eléctrica de Carbón</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_CHP">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/cog.png" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Cogeneración</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_NGCC">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/cc.png" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Ciclo Combinado</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_CI">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/ci.png" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Combuistión Interna</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="col col-md-3">
                <div class="card shadow-sm">
                       <a class="card-link" asp-controller="Home" asp-action="EnConstrucción">
                    @*<a class="card-link" asp-controller="Map" asp-action="I_TurboGas">*@
                        <div class="card-img">
                            <img src="@Cdn.Url/img_snier/vistas/tg.png" class="card-img" alt="..." />
                            <div class="card-overlay">
                                <h5 class="card-title">
                                    <img src="@Cdn.Url/img_snier/vistas/logo_cre.png" alt="Icono personalizado" class="iconomenu">
                                    Turbo Gas</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



        </div>
    </div>


</div>