@model NSIE.Models.TotalPermisosVehiculares

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;



    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");



    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);



    // Utilizar los datos del usuario para personalizar la vista



    ViewData["NombreUsuario"] = perfilUsuario.Nombre;



    ViewData["RolUsuario"] = perfilUsuario.Rol;



    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
}

@{
    ViewData["Title"] = "Consulta de Parque Vehicular de Permisos Autorizados de Gas L.P.";
}
<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/camionglp.png" alt="Icono personalizado" class="iconomenu" />@ViewData["Title"]
    </h3>
</div>
<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>



<div class="container ps-5 pe-5">
    <h6 class="subtitulo pb-3">

        <mark> Fecha de Actualización: 07 de Mayo de 2024</mark>
        <br> <br>
        Parque Vehicular de Permisos de Transporte de Gas Licuado de Petróleo por Medios Distintos a
        Ductos
    </h6>

    <br>


    <div class="alert alert-success fade show" role="alert">
        <strong>Totales de Parque Vehicular de Permisos de Transporte de Gas Licuado de Petróleo por Medios Distintos a
            Ductos que se Encuentran en Operación al 07 de Mayo de 2024</strong>

    </div>


    <div class="row">
        <!-- Total Autotanques -->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card text-white bg-tverde">
                <div class="card-header bg-success">Total Autotanques</div>
                <div class="card-body">
                    <h5 class="">@Model.TotalAutotanques.ToString("N0")</h5>
                </div>
            </div>
        </div>

        <!-- Total Buquetanques -->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card text-white bg-tazul">
                <div class="card-header bg-info">Total Buquetanques</div>
                <div class="card-body">
                    <h5 class="">@Model.TotalBuquetanques.ToString("N0")</h5>
                </div>
            </div>
        </div>

        <!-- Total Semirremolques -->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card text-white bg-tamarillo">
                <div class="card-header bg-warning">Total Semirremolques</div>
                <div class="card-body">
                    <h5 class="">@Model.TotalSemirremolques.ToString("N0")</h5>
                </div>
            </div>
        </div>

        <!-- Total General de Vehículos -->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card text-white bg-trojo">
                <div class="card-header bg-danger">Total General</div>
                <div class="card-body">
                    <h5 class="">@Model.TotalGeneralVehiculos.ToString("N0")</h5>
                </div>
            </div>
        </div>
    </div>



    <div class="row g-4 mb-4">
        <!-- Total Capacidad Autotanques -->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card text-white bg-tverde">
                <div class="card-header bg-success">Capacidad Total Autotanques</div>
                <div class="card-body">
                    <h5 class="">@Model.TotalCapacidadAutotanques.ToString("N0") litros</h5>
                </div>
            </div>
        </div>
        <!-- Total Capacidad Buquetanques -->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card text-white bg-tazul">
                <div class="card-header bg-info">Capacidad Total Buquetanques</div>
                <div class="card-body">
                    <h5 class="">@Model.TotalCapacidadBuquetanques.ToString("N0") litros</h5>
                </div>
            </div>
        </div>
        <!-- Total Capacidad Semirremolques -->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card text-white bg-tamarillo">
                <div class="card-header bg-warning">Capacidad Total Semirremolques</div>
                <div class="card-body">
                    <h5 class="">@Model.TotalCapacidadSemirremolques.ToString("N0") litros</h5>
                </div>
            </div>
        </div>
        <!-- Total General Capacidad -->
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card text-white bg-trojo">
                <div class="card-header bg-danger">Capacidad Total General</div>
                <div class="card-body">
                    <h5 class="">@Model.TotalGeneralCapacidad.ToString("N0") litros</h5>
                </div>
            </div>
        </div>
    </div>



    <h6 class="subtitulo pb-3">Búsqueda de Permisos Vigentes</h6>
    <br>




    <div class="alert alert-success  fade show" role="alert">
        <strong>Para realizar la búsqueda por número de permiso CRE, escriba en el cuadro buscar el número de permiso
            que porta el vehículo de Gas L.P., por ejemplo: "PL/XXXXX/TRA/AAAA"</strong>

    </div>
    <div class="table-responsive pt-6">

        <table id="PV_GLP" class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Permiso</th>
                    <th>Tipo de Vehículo</th>
                    <th>ID CRE</th>
                    <th>Número Económico</th>
                    <th>Marca del Recipiente</th>
                    <th>Capacidad (Litros)</th>
                    <th>Número de Serie</th>
                    <th>Número de Placa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var permiso in Model.Permisos)

                {
                    <tr>
                        <td>@permiso.Permiso</td>
                        <td>@permiso.TIPO_DE_VEHICULO</td>
                        <td>@permiso.ID_CRE</td>
                        <td>@permiso.NUMERO_ECONOMICO</td>
                        <td>@permiso.MARCA_DEL_RECIPIENTE</td>
                        <td>@permiso.CAPACIDAD_DEL_RECIPIENTE_LITROS</td>
                        <td>@permiso.NUMERO_DE_SERIE_DEL_RECIPIENTE</td>
                        <td>@permiso.NUMERO_DE_PLACA_DEL_RECIPIENTE</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section scripts {

    <script>
        $(document).ready(function () {
            var table = $('#PV_GLP').DataTable({
                lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "Todos"]],
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'MEP-Calificación Final por Entidad Federativa'
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'MEP-Calificación Final por Entidad Federativa'
                    },
                    {
                        extend: 'csvHtml5',
                        title: 'MEP-Calificación Final por Entidad Federativa'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'MEP-Calificación Final por Entidad Federativa',
                        customize: function (doc) {
                            doc.styles.tableHeader.color = '#9fa1a4';
                            doc.defaultStyle.alignment = 'center';
                            doc.styles.tableHeader.fillColor = '#4c1922';
                        }
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                }
            });
        });
    </script>

}