@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>EnerGeo</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width" />
    

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NXLZHRMM');</script>
    <!-- End Google Tag Manager -->


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/css/Login.css" asp-append-version="true" />

    <!-- Script del pop-up -->
    <script>
        // Función para cerrar el modal cuando se aceptan los términos
        function acceptTermsAndClose() {
            $('#terms-and-conditions-modal').modal('hide');
        }

        // Mostrar el modal cuando la página esté completamente cargada
        $(document).ready(function () {
            var mostrarModal = '@ViewData["MostrarModal"]' !== 'False';
            if (mostrarModal) {
                $('#terms-and-conditions-modal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }
        });
    </script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXLZHRMM" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <video autoplay muted loop id="myVideo">
        <source src="/video/Login_n.mp4" type="video/mp4">

    </video>

    <div id="terms-and-conditions-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @* <img src="~/img/logo_cre.png" alt="" class="img_logo">*@
                    <h5 class="modal-title">Aviso de Privacidad Integral de la Comisión Reguladora de Energía</h5>
                </div>
                <div class="container modal-body">

                    <p>La Comisión Reguladora de Energía protegerá tus datos personales proporcionados a través de la
                        plataforma EnerGeoCRE.</p>
                    <p>Por esta razón, se da a conocer a sus usuarios el siguiente aviso de privacidad integral, con
                        base en la normatividad vigente aplicable al derecho a la vida privada y a la protección de
                        datos personales.</p>

                    <p><strong>Objeto:</strong></p>

                    <p>Informar a los usuarios de la existencia y características principales del tratamiento al que
                        serán sometidos sus datos personales que sean recolectados a través de la plataforma EnerGeoCRE
                        y cómo se protegen estos, a fin de que pueda tomar decisiones informadas al respecto.</p>

                    <p>La plataforma EnerGeoCRE cumple con medidas técnicas, administrativas y físicas que aseguran y
                        protegen el tratamiento de los datos personales conforme a la normatividad aplicable.</p>
                    <p>Para más detalles consultar: <a
                            href="https://www.gob.mx/cre/documentos/aviso-de-privacidad-integral-de-la-comision-reguladora-de-energia"
                            target="_blank">https://www.gob.mx/cre/documentos/aviso-de-privacidad-integral-de-la-comision-reguladora-de-energia.</a>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="acceptTermsAndClose()">Aceptar Términos y
                        Condiciones</button>
                </div>
            </div>
        </div>
    </div>

    @* <div class="container h-100">*@

    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">

                    <img src="/img/lc6.png" class="brand_logo" alt="Logo">
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <h4 class="display-6 titulo fw-bold" id ="Bienvenido" style="padding-top: 50px;"><strong>¡Bienvenido!</strong></h4>
                </div>
            </div>

            <div class="container">

                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link @((ViewData["Mensaje"] == null) ? "active" : "")" data-toggle="tab"
                            href="#consultaPublica">Consulta Pública</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @((ViewData["Mensaje"] != null) ? "active" : "")" data-toggle="tab"
                            href="#accesoCRE">Acceso CRE</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="consultaPublica"
                        class="container tab-pane fade @((ViewData["Mensaje"] == null) ? "show active" : "")">

                        <!-- Contenido para Consulta Pública -->
                        <div class="mt-4">

                            <div class="alert alert-warning" role="alert">
                                <div class="d-flex justify-content-center links">
                                    <p style="text-align: justify;"> <span><i class="bi bi-info-circle-fill"></i></span>
                                        - Para ingresar a la sección de Consulta Pública, presionar el botón
                                        <strong>"¡Ingresa a Consulta Pública!"</strong><span><i
                                                class="bi bi-download"></i></span>
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-center links">
                                <a class="btn btn-cre-verde" href="@Url.Action("AccesoComoInvitado", "Acceso")">¡Ingresa
                                    a Consulta Pública!</a>
                            </div>


                        </div>
                    </div>
                    <div id="accesoCRE"
                        class="container tab-pane fade @((ViewData["Mensaje"] != null) ? "show active" : "")">
                        <div class="mt-4">
                            <div class="alert alert-warning" role="alert">
                                <p><span><i class="bi bi-info-circle-fill"></i></span> - Acceso para Servidores CRE</p>
                            </div>

                            <!-- Contenido para Acceso CRE -->
                            <form action=@Url.Action("Login","Acceso") method="post">


                                <div class="input-group mb-2 pt-0">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input id="Correo" type="text" name="Correo" class="form-control input_user"
                                        value="" placeholder="Correo" required>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" name="Clave" class="form-control input_pass" value=""
                                        placeholder="Contraseña" required>
                                </div>

                                @if (ViewData["Mensaje"] != null)
                                {
                                    <div class="alert alert-danger text-center" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                    <style>
                                        .alert{
                                            position: relative;
                                            padding: .0rem 1rem;
                                            margin-bottom: 1rem;
                                            border: 1px solid transparent;
                                            border-radius: .25rem;
                                        }
                                        #Bienvenido{
                                            margin-bottom: -16px;
                                        }
                                    </style>
                                }

                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <button type="submit" onclick="validar()" name="button"
                                        class="btn login_btn">Iniciar Sesión</button>
                                </div>
                            </form>
                            <!-- Opción para restablecer contraseña -->
                            <div class="mt-3 text-center">
                                <a href="@Url.Action("ForgotPassword", "Acceso")" id="reset-password-link" class="smaller-font">¿Olvidaste tu contraseña? Restablécela aquí</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <br>

    </div>
    <script>
        function validar() {
            var campo = document.getElementById("Correo").value.trim();
            if (campo == "") {
                alert("El campo está vacío. Por favor ingresa un valor.");
                event.preventDefault(); // evita que el formulario se envíe
            }
        }

    </script>
<script>
    document.querySelector('input').addEventListener('input', function(event) {
    if (/<.*?>/.test(event.target.value)) {
        alert("Entrada de actividad sospechosa detectada");
        event.target.value = '';
    }
}); 
</script>
<script src="~/js/validacion-formulario.js"></script>
     <script src="~/js/seguridad.js"></script> 
</body>

</html>
