@{
    ViewData["Title"] = "Sector Petróleo y Gas";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/mexico.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h3>
</div>
<!-- Miga de Pan -->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb" style="padding-left:15px">
    <ol class="breadcrumb lp-5">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="container">

    <h2 class="fw-bold   subtitulo ">Infraestructura de Transformación</h2>

    <div class="album py-5">

        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">

                <div class="col col-md-4">
                    <div class="card shadow-sm">
                        <a class="card-link" asp-controller="Map" asp-action="RS_RefyDes">
                            <div class="card-img">
                                <img src="@Cdn.Url/img_snier/vistas/rys.png" class="card-img" alt="..." />
                                <div class="card-overlay">
                                    <h5 class="card-title">
                                        <img src="@Cdn.Url/img_snier/vistas/rys.png" alt="Icono personalizado" class="iconomenu">
                                        Refinerías y Despuntadoras
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>





                <div class="col col-md-4">
                    <div class="card shadow-sm">

                        @* <a class="card-link" asp-controller="Map" asp-action="I_Gas_Natural">*@
                        <a class="card-link" asp-controller="Map" asp-action="RS_CG">
                            <div class="card-img">
                                <img src="@Cdn.Url/img_snier/vistas/cg.png" class="card-img" alt="..." />
                                <div class="card-overlay">
                                    <h5 class="card-title">
                                        <img src="@Cdn.Url/img_snier/vistas/cg.png" alt="Icono personalizado" class="iconomenu">
                                        Complejos de Gas
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>




                <div class="col col-md-4">
                    <div class="card shadow-sm">
                        <a class="card-link" asp-controller="Map" asp-action="RS_Autoconsumo">
                            <div class="card-img">
                                <img src="@Cdn.Url/img_snier/vistas/pi.png" class="card-img" alt="..." />
                                <div class="card-overlay">
                                    <h5 class="card-title">
                                        <img src="@Cdn.Url/img_snier/vistas/pi.png" alt="Icono personalizado" class="iconomenu">
                                        Autoconsumo y Puntos de Internación
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>



            </div>


        </div>
    </div>

    <h2 class="fw-bold   subtitulo ">Infraestructura por Mercado</h2>

    <div class="album py-5">

        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">

                <div class="col col-md-4">
                    <div class="card shadow-sm">
                        <a class="card-link" asp-controller="Map" asp-action="I_Gas_LP">
                            <div class="card-img">
                                <img src="@Cdn.Url/img_snier/vistas/5.png" class="card-img" alt="..." />
                                <div class="card-overlay">
                                    <h5 class="card-title">
                                        <img src="@Cdn.Url/img_snier/vistas/5.png" alt="Icono personalizado" class="iconomenu">
                                        Gas L.P.
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>





                <div class="col col-md-4">
                    <div class="card shadow-sm">

                        @* <a class="card-link" asp-controller="Map" asp-action="I_Gas_Natural">*@
                        <a class="card-link" asp-controller="Map" asp-action="I_Gas_Natural">
                            <div class="card-img">
                                <img src="@Cdn.Url/img_snier/vistas/12.png" class="card-img" alt="..." />
                                <div class="card-overlay">
                                    <h5 class="card-title">
                                        <img src="@Cdn.Url/img_snier/vistas/12.png" alt="Icono personalizado" class="iconomenu">
                                        Gas Natural
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>




                <div class="col col-md-4">
                    <div class="card shadow-sm">
                        <a class="card-link" asp-controller="Map" asp-action="I_Petroliferos">
                            <div class="card-img">
                                <img src="@Cdn.Url/img_snier/vistas/6.png" class="card-img" alt="..." />
                                <div class="card-overlay">
                                    <h5 class="card-title">
                                        <img src="@Cdn.Url/img_snier/vistas/6.png" alt="Icono personalizado" class="iconomenu">
                                        Petrolíferos
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>
