@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using NSIE.Models
@inject IHttpContextAccessor HttpContextAccessor




<div class="text-center">
    <h4 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/analisis.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h4>
</div>

<!-- Miga de Pan -->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb" style="padding-left:15px">
    <ol class="breadcrumb lp-5">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item">
            <a href="#" onclick="history.back(); return false;">Regresar</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>




<div class="container">
    <div class="row g-4 mt-4">
        <div class="col">
            <div class="app-card app-card-chart h-100 shadow-sm">
                <div id="grafico"></div> <!-- Contenedor para el gráfico de dona-->
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
@section scripts {

    <script>
        // Convierte los datos del modelo C# a JSON para usar en JavaScript
        var datosUsosFinales = @Html.Raw(Json.Serialize(Model));
        var añoSeleccionado = '@ViewData["AñoSeleccionado"]';
        var tipoSeleccionado = '@ViewData["TipoSeleccionado"]';

        console.log("Datos de Modelo:", datosUsosFinales); // Registro de consola para depuración

        document.addEventListener('DOMContentLoaded', function () {
            Highcharts.chart('grafico', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Detalle de Consumo ' + tipoSeleccionado + ' en ' + añoSeleccionado + ' en (PJ)'
                },
                plotOptions: {
                    pie: {
                        innerSize: '50%', // Esto simula el aspecto de un donut
                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                return '<b>' + this.point.name + '</b>: ' + Highcharts.numberFormat(this.point.percentage, 1) + '% (' + Highcharts.numberFormat(this.y, 1) + ')';
                            }
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b> ({point.y:.1f})'
                },
                series: [{
                    name: 'Consumo',
                    data: datosUsosFinales.map(item => ({
                        name: item.consumo_Nombre,
                        y: item.consumoUF_Valor
                    }))
                }]
            });
        });


    </script>


}