@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using NSIE.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
}



@{
    ViewData["Title"] = "Reserva de Gas Natural";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/gasnaturali.png" alt="Icono personalizado"
            class="iconomenu" />@ViewData["Title"]
    </h3>
</div>
<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="container">



    <div id="main-container">
        @*Menu Mapa*@
        <div class="container pb-3">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    @*<button class="btn btn-cre-rojo" data-bs-toggle="offcanvas" data-bs-target="#ejemploOffcanvas">*@
                    <button class="btn btn-cre-rojo" id="last-update-btn">
                        <i class="bi bi-info-circle-fill"></i> Última Actualización:18/05/2023
                    </button>
                </div>
                <div class="col">
                    <select id="estado" class="form-select">
                        <option value="ags">Aguascalientes</option>
                        <option value="bc">Baja California</option>
                        <option value="bcs">Baja California Sur</option>
                        <option value="camp">Campeche</option>
                        <option value="coah">Coahuila</option>
                        <option value="col">Colima</option>
                        <option value="chis">Chiapas</option>
                        <option value="chih">Chihuahua</option>
                        <option value="cdmx">Ciudad de México</option>
                        <option value="dgo">Durango</option>
                        <option value="gto">Guanajuato</option>
                        <option value="gro">Guerrero</option>
                        <option value="hgo">Hidalgo</option>
                        <option value="jal">Jalisco</option>
                        <option value="mex">México</option>
                        <option value="mich">Michoacán</option>
                        <option value="mor">Morelos</option>
                        <option value="nay">Nayarit</option>
                        <option value="nl">Nuevo León</option>
                        <option value="oax">Oaxaca</option>
                        <option value="pue">Puebla</option>
                        <option value="qro">Querétaro</option>
                        <option value="qroo">Quintana Roo</option>
                        <option value="slp">San Luis Potosí</option>
                        <option value="sin">Sinaloa</option>
                        <option value="son">Sonora</option>
                        <option value="tab">Tabasco</option>
                        <option value="tamps">Tamaulipas</option>
                        <option value="tlax">Tlaxcala</option>
                        <option value="ver">Veracruz</option>
                        <option value="yuc">Yucatán</option>
                        <option value="zac">Zacatecas</option>
                    </select>
                </div>


                @if (perfilUsuario.Rol == "1")
                {
                    <partial name="_Infomapas_PRPEP" />
                }

                @if (perfilUsuario.Rol == "0")
                {
                    <partial name="_Infomapa_publico_SEM" />

                }


            </div>
        </div>

        @*Mapa*@
        <div class="d-flex h-100 pb-3" style="overflow: auto;">
            <div class="row m-0 w-100">
                <div class="col-lg-9">
                    <div class="app-card app-card-chart h-100 shadow-sm">
                        <div class="app-card-body p-4">
                            <div id="map-container" class="app-card-body p-4">
                                <div class="d-flex justify-content-end">
                                    <button id="fullscreen-btn" class="btn btn-primary">Pantalla Completa</button>
                                </div>
                                <div id="menu-map-container">
                                    <!-- Los elementos que se moverán aquí en pantalla completa -->
                                    <div id="fullscreen-elements">
                                        <div id="fullscreen-last-update"></div>
                                        <div id="fullscreen-select"></div>
                                        <div id="map" style="height: 500px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 ">
                    <div class="app-card app-card-chart h-100 shadow-sm">

                        <div class="app-card-body p-4">
                            <div class="chart-container">
                                <table cellspacing="0" border="0">
                                    <colgroup width="152"></colgroup>
                                    <colgroup width="107"></colgroup>
                                    <tr>
                                        <td colspan=2 rowspan=2 height="43" align="center" valign=middle><b>
                                                <font face="Montserrat" size=4>Simbología</font>
                                            </b></td>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td colspan=2 height="98" align="left" valign=middle>
                                            <font face="Montserrat">Áreas con recursos de Gas Natural <br>en Miles de
                                                Millones de Pies³(MMMPC)<br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="center">
                                            <font face="Montserrat">Menor cantidad</font>
                                        </td>
                                        <td align="left" bgcolor="#F7FCF5">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="left">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                        <td align="left" bgcolor="#C9EAC2">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="left">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                        <td align="left" bgcolor="#7BC77C">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="left">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                        <td align="left" bgcolor="#2A924B">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="center">
                                            <font face="Montserrat">Mayor cantidad</font>
                                        </td>
                                        <td align="left" bgcolor="#00441B">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="left">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                        <td align="left">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=2 height="98" align="left" valign=middle>
                                            <font face="Montserrat">Campos con recursos de Gas Natural<br>en Miles de
                                                Millones de Pies³(MMMPC)<br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="center">
                                            <font face="Montserrat">Menor cantidad</font>
                                        </td>
                                        <td align="left" bgcolor="#F7FBFF">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="left">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                        <td align="left" bgcolor="#C8DCF0">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="left">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                        <td align="left" bgcolor="#73B2D8">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="left">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                        <td align="left" bgcolor="#2979B9">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="21" align="center">
                                            <font face="Montserrat">Mayor cantidad</font>
                                        </td>
                                        <td align="left" bgcolor="#08306B">
                                            <font face="Montserrat"><br></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=2 rowspan=2 height="43" align="center" valign=bottom><i>
                                                <font face="Montserrat" size=1>Fuente: Comisión Nacional de
                                                    Hidrocarburos
                                                    (<a href="https://mapa.hidrocarburos.gob.mx/" target="_blank">
                                                        https://mapa.hidrocarburos.gob.mx/</a>)</font>
                                            </i></td>
                                    </tr>
                                </table>
                            </div>
                        </div><!--//app-card-body-->
                    </div><!--//app-card-->



                </div>
            </div>
        </div>
        <br />

    </div>
    <style>
        #fullscreen-elements {
            display: flex;
            flex-direction: column;
            height: auto;
            /* Valor inicial para cuando no esté en pantalla completa */
        }

        #fullscreen-last-update,
        #fullscreen-select {
            flex-shrink: 0;
        }

        #map {
            flex-grow: 1;
        }

        #main-container.fullscreen-active #fullscreen-elements {
            height: 100vh;
        }

        #main-container.fullscreen-active #map {
            height: calc(100vh - 60px);
        }

        #main-container:not(.fullscreen-active) #map {
            height: 500px;
        }
    </style>
</div>

@*Script de Pantalla Completa*@
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const fullscreenButton = document.getElementById('fullscreen-btn');
        const menuMapContainer = document.getElementById('menu-map-container');
        const fullscreenElements = document.getElementById('fullscreen-elements');
        const mainContainer = document.getElementById('main-container');

        const lastUpdateBtn = document.getElementById('last-update-btn');
        const selectElement = document.getElementById('estado');
        const mapElement = document.getElementById('map');

        const fullscreenLastUpdate = document.getElementById('fullscreen-last-update');
        const fullscreenSelect = document.getElementById('fullscreen-select');

        const originalContainer = document.querySelector('.container.pb-3 .row.d-flex.justify-content-center');

        fullscreenButton.addEventListener('click', () => {
            if (!document.fullscreenElement) {
                menuMapContainer.requestFullscreen().catch(err => {
                    alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
                });
            } else {
                document.exitFullscreen();
            }
        });

        document.addEventListener('fullscreenchange', (event) => {
            if (document.fullscreenElement) {
                fullscreenButton.textContent = "Salir de Pantalla Completa";
                fullscreenLastUpdate.appendChild(lastUpdateBtn);
                fullscreenSelect.appendChild(selectElement);
                fullscreenElements.appendChild(mapElement);
                mainContainer.classList.add('fullscreen-active');
                mapElement.style.height = "calc(100vh - 60px)";
            } else {
                fullscreenButton.textContent = "Pantalla Completa";
                originalContainer.querySelector('.col:nth-child(1)').appendChild(lastUpdateBtn);
                originalContainer.querySelector('.col:nth-child(2)').appendChild(selectElement);
                document.getElementById('map-container').appendChild(mapElement);
                mainContainer.classList.remove('fullscreen-active');
                mapElement.style.height = "500px";

                // Asegurarse de que los estilos se restablezcan
                fullscreenElements.style.height = 'auto'; // Restablecer altura a su valor inicial
            }
        });

        selectElement.addEventListener('change', (event) => {
            const selectedState = event.target.value;
            // Lógica para mostrar el estado seleccionado
            console.log(`Selected state: ${selectedState}`);
        });
    });
</script>




@*Scripts de los Datos*@

<script src="@Cdn.Url/Geovisualizador/data/Camposderecursosdegas3PMMBPC_0.js"></script>
<script src="@Cdn.Url/Geovisualizador/data/Camposderecursosdegas2PMMBPC_1.js"></script>
<script src="@Cdn.Url/Geovisualizador/data/Camposderecursosdegas1PMMBPC_2.js"></script>
<script src="@Cdn.Url/Geovisualizador/data/reasconreservasdegas3PMMBPC_3.js"></script>
<script src="@Cdn.Url/Geovisualizador/data/reasconreservasdegas2PMMBPC_4.js"></script>
<script src="@Cdn.Url/Geovisualizador/data/reasconreservasdegas1PMMBPC_5.js"></script>



@* Accediendo al Mapa General en el arreglo de Mapas *@
<script type="text/javascript" src="/js/configura_mapa.js"></script>
<script type="text/javascript" src="/js/gas_natural.js"></script>
