@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;

    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");

    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);



    // Utilizar los datos del usuario para personalizar la vista

    ViewData["NombreUsuario"] = perfilUsuario.Nombre;

    ViewData["RolUsuario"] = perfilUsuario.Rol;

    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
}

@{
    ViewData["Title"] = "Acceso Denegado";
}
<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/alarma.png" alt="Icono personalizado" class="iconomenu" />@ViewData["Title"]
    </h3>
</div>

<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            @* <li class="breadcrumb-item"><a href="@Url.Action("MenuPE", "ProyEstrategicos" )">Menú de Proyectos
            Estratégicos</a></li> *@
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]
            </li>
        </ol>
    </nav>
</div>
<center>

    <div class="container container ps-5 pe-5">
        <div class="alert alert-danger" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <h4 class="alert-heading">Acceso Denegado!</h4>
            <p>No tienes permiso para acceder a este proyecto.</p>
            <hr>

            <button type="button" class="btn btn-primary bg-rojo" onclick="goBack()"><i
                    class="bi bi-backspace-fill"></i> Regresar</button>
        </div>
    </div>

</center>

<script>
    function goBack() {
        window.history.back();
    }
</script>