@model List<NSIE.Models.Factura>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
}

@{
    ViewData["Title"] = "Extractor de Facturas";
}

@* Comentario home *@
<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="~/img/buscar.png" alt="Icono personalizado" class="iconomenu" />@ViewData["Title"]
    </h3>
</div>

<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<br />

<div class="container container ps-5 pe-5">
    <form asp-action="Upload" asp-controller="Facturas" enctype="multipart/form-data" method="post"
        id="form-upload-files">
        <div class="form-group">
            <label for="files" class="subtitulo">Seleccione los archivos PDF de las facturas:</label>
            <br>
            <br>
            <input type="file" id="files" name="files" multiple class="form-control" />
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Subir</button>
    </form>

    @if (ViewBag.Errores != null && ViewBag.Errores.Count > 0)
    {
        <div class="alert alert-danger mt-3">
            <ul>
                @foreach (var error in ViewBag.Errores)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    @if (Model != null && Model.Count > 0)
    {
        <h2 class="mt-5">Facturas Extraídas</h2>
        <div class="table-responsive pt-6">
            <table id="DetalleFacturas" class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>ID de Orden</th>
                        <th>Nombre del Archivo PDF</th>
                        <th>Proveedor</th>
                        <th>RFC del Proveedor</th>
                        @* <th>Regimen Fiscal del Proveedor</th>
                        <th>Lugar de Expedición</th>
                        <th>FOLIO FISCAL (UUID)</th> *@
                        @* <th>Fecha y Hora de Certificación</th> *@
                        <th>Fecha</th>
                        <th>Cliente</th>
                        @* <th>Concepto</th>
                        <th>Efecto Comprobante</th> *@
                        <th>RFC Cliente</th>
                        @* <th>Forma de Pago</th> *@
                        <th>Folio y Serie</th>
                        <th>Descripción</th>
                        <th>Calve de Moneda</th>
                        <th>Subtotal</th>
                        <th>IVA</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var factura in Model)
                    {
                        <tr>
                            <td class="text-wrap w-30">@factura.Id</td>
                            <td class="text-wrap w-30">@factura.PdfFileName</td>
                            <td class="text-wrap w-30">@factura.Proveedor</td>
                            <td class="text-wrap w-30">@factura.RFCProveedor</td>
                            @* <td class="text-wrap w-30">@factura.RegimenFiscalProveedor</td>
                            <td class="text-wrap w-30">@factura.LugarExpedicion</td>
                            <td class="text-wrap w-30">@factura.UUID</td> *@
                            @* <td class="text-wrap w-30">@factura.FechaHoraCertificacion</td> *@
                            <td class="text-wrap w-30">@factura.FechaHoraEmision.ToString().Substring(0, 10)</td>
                            <td class="text-wrap w-30">@factura.Cliente</td>
                            @* <td class="text-wrap w-30">@factura.UsoCFDI</td>
                            <td class="text-wrap w-30">@factura.EfectoComprobante</td> *@
                            <td class="text-wrap w-30">@factura.RFCCliente</td>
                            @* <td class="text-wrap w-30">@factura.FormaPago</td> *@
                            <td class="text-wrap w-30">@factura.FolioSerie</td>
                            <td class="text-wrap w-30">@factura.ProductoDescripcion</td>
                            <td class="text-wrap w-30">@factura.ClaveMoneda</td>
                            <td class="text-wrap w-30">@factura.Subtotal</td>
                            <td class="text-wrap w-30">@factura.IVA</td>
                            <td class="text-wrap w-30">@factura.Total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <br>
    @if (ViewBag.Errores != null && ViewBag.Errores.Count > 0)
    {
        <div class="alert alert-danger mt-3">
            <ul>
                @foreach (var error in ViewBag.Errores)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var value in ViewData.ModelState.Values)
            {
                @foreach (var error in value.Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            }
        </div>
    }

</div>


@section scripts {
    <script>
        $(document).ready(function () {
            var table = $('#DetalleFacturas').DataTable({
                lengthMenu: [[10, 50, 100, -1], [10, 50, 100, "Todos"]],
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        title: 'EnergeoCRE-Proyectos Estratégicos'
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'EnergeoCRE-Proyectos Estratégicos'
                    },
                    {
                        extend: 'csvHtml5',
                        title: 'EnergeoCRE-Proyectos Estratégicos'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'EnergeoCRE-Proyectos Estratégicos',
                        customize: function (doc) {
                            doc.styles.tableHeader.color = '#9fa1a4';
                            doc.defaultStyle.alignment = 'center';
                            doc.styles.tableHeader.fillColor = '#4c1922';
                        }
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                }
            });
        });
    </script>
}
