@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
}

@{
    ViewData["Title"] = "Plan Carretero 2025";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/aguila.png" alt="Icono personalizado" class="iconomenu" />@ViewData["Title"]
    </h3>
</div>

<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="container ps-5 pe-5">
        <h2 class="subtitulo mb-3">Programa Nacional de Infraestructura Carretera 2025</h2>
     <br>
    <p style="text-align: justify;">
        La presidenta de México, Claudia Sheinbaum Pardo, presentó el <strong>Programa Nacional de Infraestructura Carretera para 2025</strong>, con una inversión de <strong>35 mil millones de pesos</strong>.
        Este plan tiene como objetivo mejorar la conectividad y atender a las zonas más vulnerables del país. Durante este año, se intervendrán <strong>263 kilómetros de carreteras</strong>, además de la construcción de puentes y distribuidores viales en diversas regiones.
    </p>

    <p style="text-align: justify;"><strong>Algunas de las obras más destacadas incluyen:</strong></p>
    <ul style="text-align: justify;">
        <li>Carretera <strong>Cuautla – Tlapa – Marquelia</strong>, abarcando Guerrero, Morelos y Puebla.</li>
        <li>Carretera <strong>Pachuca – Huejutla – Tamazunchale</strong>, en Hidalgo y San Luis Potosí.</li>
        <li>Ampliación de la carretera <strong>Bavispe – Nuevo Casas Grandes</strong>, en Sonora y Chihuahua.</li>
        <li>Modernización del <strong>Circuito Tierra y Libertad</strong> en Morelos.</li>
        <li>Carretera <strong>Toluca – Zihuatanejo</strong>, conectando el Estado de México y Guerrero.</li>
        <li>Carretera <strong>Salina Cruz – Zihuatanejo</strong>, entre Oaxaca y Guerrero.</li>
        <li>Carretera <strong>Macuspana – Escárcega</strong>, en Tabasco y Campeche.</li>
    </ul>

    <p style="text-align: justify;">
        Además, se desarrollarán estudios para futuras obras como la carretera <strong>Ciudad Valles - Tampico</strong> en San Luis Potosí y Tamaulipas, así como la <strong>Transpeninsular Tijuana – Ensenada</strong> en Baja California.
    </p>

    <div style="text-align: center; margin-top: 20px;">
        <img src="@Cdn.Url/img_snier/vistas/pm/plan_carretero.png" alt="Mapa del Plan Carretero 2025" style="max-width: 100%; border-radius: 5px;">
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
