@model DetalleCalificacion_EF
<h3 class="subtitulo display-9 fw-bold">Solicitudes por Municipio</h3>
<!-- Aquí puedes mostrar los resultados del segundo stored procedure -->
<br />
<div class="table-responsive">
    <table id="I_MUN" class="table table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>EF_ID</th>
                <th>EF_Nombre</th>
                <th>MPO_ID</th>
                <th>Municipio_Nombre</th>
                <th>Documentos_completos</th>
                <th>Analisis_riesgo</th>
                <th>X_Geo</th>
                <th>Y_Geo</th>
                <th>_2023_01</th>
                <th>_2023_02</th>
                <th>_2023_03</th>
                <th>_2023_04</th>
                <th>_2023_05</th>
                <th>_2023_06</th>
                <th>_2023_07</th>
                <th>_2023_08</th>
                <th>_2023_09</th>
                <th>_2023_10</th>
                <th>_2023_11</th>
                <th>_2023_12</th>
                <th>_2023_01_m</th>
                <th>_2023_02_m</th>
                <th>_2023_03_m</th>
                <th>_2023_04_m</th>
                <th>_2023_05_m</th>
                <th>_2023_06_m</th>
                <th>_2023_08_m</th>
                <th>SumaTotal</th>
                <th>TotalColumnas</th>
                <th>Factor</th>
                <th>Resultado</th>
                <th>Umbral_P1</th>
                <th>ColumnasSeleccionadas_P1</th>
                <th>SumaTotalMunicipio</th>
                <th>TotalColumnasMunicipio</th>
                <th>FactorMunicipio</th>
                <th>ResultadoMunicipio</th>
                <th>UmbralMunicipio_P1</th>
                <th>ColumnasSeleccionadasMunicipio_P1</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Detalle_MUN)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.EF_ID</td>
                    <td>@item.EF_Nombre</td>
                    <td>@item.MPO_ID</td>
                    <td>@item.Municipio_Nombre</td>
                    <td>@item.Documentos_completos</td>
                    <td>@item.Analisis_riesgo</td>
                    <td>@item.X_Geo</td>
                    <td>@item.Y_Geo</td>
                    <td>@item._2023_01</td>
                    <td>@item._2023_02</td>
                    <td>@item._2023_03</td>
                    <td>@item._2023_04</td>
                    <td>@item._2023_05</td>
                    <td>@item._2023_06</td>
                    <td>@item._2023_07</td>
                    <td>@item._2023_08</td>
                    <td>@item._2023_09</td>
                    <td>@item._2023_10</td>
                    <td>@item._2023_11</td>
                    <td>@item._2023_12</td>
                    <td>@item._2023_01_m</td>
                    <td>@item._2023_02_m</td>
                    <td>@item._2023_03_m</td>
                    <td>@item._2023_04_m</td>
                    <td>@item._2023_05_m</td>
                    <td>@item._2023_06_m</td>
                    <td>@item._2023_08_m</td>
                    <td>@item.SumaTotal</td>
                    <td>@item.TotalColumnas</td>
                    <td>@item.Factor</td>
                    <td>@item.Resultado</td>
                    <td>@item.Umbral_P1</td>
                    <td>@item.ColumnasSeleccionadas_P1</td>
                    <td>@item.SumaTotalMunicipio</td>
                    <td>@item.TotalColumnasMunicipio</td>
                    <td>@item.FactorMunicipio</td>
                    <td>@item.ResultadoMunicipio</td>
                    <td>@item.UmbralMunicipio_P1</td>
                    <td>@item.ColumnasSeleccionadasMunicipio_P1</td>
                </tr>
            }
        </tbody>
    </table>


</div>


