@model DetalleCalificacion_EF
<h3 class="subtitulo display-9 fw-bold">Información de las Solicitudes Evaluadas</h3>
<!-- Aquí puedes mostrar los resultados del segundo stored procedure -->
<br />
<div class="table-responsive">
    <table id="I_EF" class="table table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th>ID  de Solicitud</th>

                @*<th>ID de Entidad Federativa</th>*@
                <th>Turno K-mis</th>
                <th>Razón Social</th>
                <th>Marca Solicitada</th>
                <th>Expediente</th>
                <th>Entidad Federativa</th>
                <th>ID de Municipio</th>
                <th>Municipio</th>
                <th>¿Documentos Completos?</th>
                <th>¿Cumple Análisis de Riesgo?</th>
                <th>Latitud</th>
                <th>Longitud</th>
                @*       <th>_2023_01</th>
                <th>_2023_02</th>
                <th>_2023_03</th>
                <th>_2023_04</th>
                <th>_2023_05</th>
                <th>_2023_06</th>
                <th>_2023_07</th>
                <th>_2023_08</th>
                <th>_2023_09</th>
                <th>_2023_10</th>
                <th>_2023_11</th>
                <th>_2023_12</th>*@
                @*<th>SumaTotal</th>
                <th>TotalColumnas</th>
                <th>Factor</th>*@
                @*  <th>Resultado</th>*@
                @*  <th>Umbral_P1</th>
                <th>ColumnasSeleccionadas_P1</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Detalle_EF)
            {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Turno</td>
                        <td>@item.Razon_social</td>
                        <td>@item.Marca_solicitada</td>
                        <td>@item.Expediente</td>
                    @*  <td>@item.EF_ID</td>*@
                        <td>@item.EF_Nombre</td>
                        <td>@item.MPO_ID</td>
                        <td>@item.Municipio_Nombre</td>
                        <td>@item.Documentos_completos_text</td>
                        <td>@item.Analisis_riesgo_text</td>
                        <td>@item.X_Geo</td>
                        <td>@item.Y_Geo</td>

                    @*   <td>@item._2023_01</td>
                    <td>@item._2023_02</td>
                    <td>@item._2023_03</td>
                    <td>@item._2023_04</td>
                    <td>@item._2023_05</td>
                    <td>@item._2023_06</td>
                    <td>@item._2023_07</td>
                    <td>@item._2023_08</td>
                    <td>@item._2023_09</td>
                    <td>@item._2023_10</td>
                    <td>@item._2023_11</td>
                    <td>@item._2023_12</td>*@
                    @* <td>@item.SumaTotal</td>
                    <td>@item.TotalColumnas</td>
                    <td>@item.Factor</td>*@
                    @* <td>@item.Resultado</td>*@
                    @*  <td>@item.Umbral_P1</td>
                    <td>@item.ColumnasSeleccionadas_P1</td>*@
                    </tr>
            }
        </tbody>
    </table>
</div>


