@model IEnumerable<Indicador3_Clase>
@{
   // ViewData["Title"] = "Evaluacioón con el Indicador2";
}


<div class="table-responsive">
  
    <table id="I_3" class="table table-hover table-responsive table-bordered" >
    <thead>
        <tr>
            <th>EF_ID</th>
            <th>EF_Nombre</th>
            <th>2015</th>
            <th>2016</th>
            <th>2017</th>
            <th>2018</th>
            <th>2019</th>
            <th>2020</th>
            <th>2021</th>
            <th>2022</th>
            <th>2023</th>
            <th>2024</th>
            <th>2025</th>
            <th>2026</th>
            <th>2027</th>
            <th>2028</th>
            <th>2029</th>
            <th>2030</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var indicador2 in Model)
            {
                <tr>
                    <td >
                        @indicador2.EF_Nombre
                    </td>
                    
                <td>
                    @indicador2.EF_ID
                </td>

                    <td style="@indicador2.C_Año1">
                   
                    @indicador2.Año1
                </td>
                    <td style="@indicador2.C_Año2">
                    @indicador2.Año2
                </td>
                    <td style="@indicador2.C_Año3">
                    @indicador2.Año3
                </td>

                    <td style="@indicador2.C_Año4">
                        @indicador2.Año4
                    </td>
                    <td style="@indicador2.C_Año5">
                        @indicador2.Año5
                    </td>
                    <td style="@indicador2.C_Año6">
                        @indicador2.Año6
                    </td>
                    <td style="@indicador2.C_Año7">
                        @indicador2.Año7
                    </td>
                    <td style="@indicador2.C_Año8">
                        @indicador2.Año8
                    </td>
                    <td style="@indicador2.C_Año9">
                        @indicador2.Año9
                    </td>
                    <td style="@indicador2.C_Año10">
                        @indicador2.Año10
                    </td>
                    <td style="@indicador2.C_Año11">
                        @indicador2.Año11
                    </td>
                    <td style="@indicador2.C_Año12">
                        @indicador2.Año12
                    </td>
                    <td style="@indicador2.C_Año13">
                        @indicador2.Año13
                    </td>
                    <td style="@indicador2.C_Año14">
                        @indicador2.Año14
                    </td>
                    <td style="@indicador2.C_Año15">
                        @indicador2.Año15
                    </td>
                    <td style="@indicador2.C_Año16">
                        @indicador2.Año16
                    </td>
                </tr>
            }
    </tbody>
</table>
   
   
</div>


  <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet"/>
  <link href="//cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet"/>
 
  @section scripts{
                     <script src="//code.jquery.com/jquery-3.5.1.js"> </script>
                     <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"> </script>
                     <script src="//cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
                     <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> </script>
                     <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
                     <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
                     <script src="//cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>

                     @*Indicadores*@
                             <script>
                                $(document).ready(function () {
                                    $('#I_3').DataTable({
                                        dom: 'Bfrtip',
                                        buttons: [
                                            'copyHtml5',
                                            'excelHtml5',
                                            'csvHtml5',
                                            'pdfHtml5'
                                        ]
                                    });
                                });
                            </script>

            }